<li><a href="{{url_for('list_buddies_in_course', course_id=course.id)}}" class="{{buddies}}">Buddies</a></li>
<li><a href="{{url_for('list_coursemates', course_id=course.id)}}" class="{{everyone}}">Everyone</a></li>
<li><a href="{{url_for('list_coursemates_by_major', course_id=course.id)}}" class="{{major}}">Major</a></li>
<li><a href="{{url_for('list_coursemates_by_language', course_id=course.id)}}" class="{{language}}">Language</a></li>
<li><a href="{{url_for('list_coursemates_by_location', course_id=course.id)}}" class="{{location}}">Location</a></li>
<li>&nbsp;</li>

