{% extends "layout.html" %}
  
{% block content %}
<h1 style="text-align:center;"> Edit profile</h1>
<div class="span3">
	<div style="border:1px solid #e0e0e0;padding:15px;margin-bottom:20px;">
		<div style="text-align:center;">
		<strong class=" PIN_1373193698306_hazClick">
		      Your current avatar
		  </strong>
	  </div>
	  <img src="{{ photo_thumbnail(user_record) }}"></img>
	  
	  <div class="fileupload fileupload-new" data-provides="fileupload" style="text-align:center;margin-top:15px;">
	  <span class="btn btn-file"><span class="fileupload-new">Change Picture</span><span class="fileupload-exists">Change</span><input type="file" /></span>
	  <span class="fileupload-preview"></span>
	  <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
	  </div>
  </div>
  
</div>

<div class="span8">
		<p> This information will appear in your public profile. Leave the fields blank if you'd prefer not to reveal any information.</p>
		<form class="well">  
		  <label> Your Name </label>  
		  <input type="text" class="span3" placeholder="Your Full Name" value="{{ user_record.full_name }}">    
		  <label> Location</label>
		  {% for location in location %}
				<select name="location">
				{% if selected(location) %}
					<option value="{{ location.id }}" selected>
						{{ location.name }}
					</option>  
				{% else %}
					<option value="{{ location.id }}">
						{{ location.name }}
					</option>
				{% endif %}
	  	  </select>
		  {% endfor %}
		  <label> A Few Words About You </label>
		  <textarea type="text" style="height: 150px;width: 450px;" value="{{ user_record.bio }}"> </textarea>
		  <div class="btn btn-primary" style="margin-left:450px;margin-top: 20px;"> Save Changes</div>
		</form>
</div>
	
{% endblock %}

