{% extends "layout.html" %}
 {% block extrahead %}
	<style>
		color{color:red;}
		#a{width:90%;}
		.span6	{width: 450px;}
		.detail input
		{
			margin-top: -5px;
		}
	</style>

	<script>
		$(function() {
		$('.detail').hide();
		$('.toggle').change(function() {
			$('#'.concat(this.id).concat('detail')).toggle();
		});
		});
	</script>

{% endblock %} 
{% block content %}
<h1 style="text-align:center;"> Edit profile</h1>
	  
<div class="span3"></div>
	<div class="well span6">
		<p> This information will appear in your public profile. Leave the fields blank if you'd prefer not to reveal any information.</p>
		<form action="{{ url_for('profile_edit') }}" method="POST">
			<label> Your Name <color> (*Required) </color> </label>  
			<input type="text" class="span2" placeholder="Your Full Name" value="{{ user_record.full_name }}" name="name"></input> 
			
			<label> Your Course <color> (*Required) </color></label>
				<select size=10 style="width: 180px" name="course" multiple>
					{% for course_record in courses %}
						{% if selected(course_record) %}
							<option value="{{ course_record.id }}" selected>
								{{ course_record.name }} by {{ course_record.instructor }}
							</option>
						{% else %}
							<option value="{{ course_record.id }}">
								{{ course_record.name }} by {{ course_record.instructor }}
							</option>
						{% endif %}
					{% endfor %}
				</select>
			
			<label> Location</label>
			<select name="location">
			{% for location in locations %}
				{% if selected(location) %}
				<option value="{{ location.id }}" selected>
					{{ location.name }}
				</option>  
				{% else %}
				<option value="{{ location.id }}">
					{{ location.name }}
				</option>  
				{% endif %}
			{% endfor %}
			</select>
			
			<label> Time for Study Group </label>
			{% for day in day_names %}
			<label> <input type="checkbox" class="toggle" id="{{ day|lower }}" style="margin-top:-5px; margin-left:10px;" name="{{day|lower}}">{{ day }}</label>
			<div class="detail" id="{{day|lower}}detail" style="margin-left:50px;">
				<label> <input type="radio" name="{{day|lower}}" id="{{day|lower}}-am" value="am" style="margin-top:-5px;"> &nbsp;AM </label>
				<label> <input type="radio" name="{{day|lower}}" id="{{day|lower}}-pm" value="pm" style="margin-top:-5px;"> &nbsp;PM </label>
				<label> <input type="radio" name="{{day|lower}}" id="{{day|lower}}-all" value="all" style="margin-top:-5px;"> &nbsp;All Day </label>
			</div>
			{% endfor %}

			<label style="margin-top:20px;">Your Facebook 
				<input type="text" class="span3" placeholder="http://facebook.com/yourfacebook" style="margin-left:15px;" value="{{ user_record.facebook }}" name="facebook">
			</label>
			<label style="margin-top:20px;">Your Twitter
				<input type="text" class="span3" placeholder="http://twitter.com/yourtwitter" style="margin-left:35px;" value="{{ user_record.twitter }}" name="twitter">
			</label>
			<label> A Few Words About You </label>
			<textarea type="text" style="height: 150px;width: 450px;" value="{{ bio }}" name="bio"> {{ user_record.bio }} </textarea>
			<input class="btn btn-large btn-primary" style="margin-left:350px;margin-top: 20px;" type="submit" value="save">
	</form>
</div>
	
{% endblock %}

