{% extends "layout.html" %}
{% from "lib.html" import flashed %}
{% block title %}Invites{% endblock %}
{% block content %}
<br><br>
<h2> Invitations </h2>
<br><br>
        {% if new_friend %}
                {% call flashed() %}
                        You added a <a href="{{ profile(new_friend) }}"> friend</a>.
                {% endcall %}
        {% endif %}


        {% if denied_friend %}
                {% call flashed(type='block') %}
                        You denied a <a href="{{ profile(denied_friend) }}"> friend</a>.
                {% endcall %}
        {% endif %}
        
        {% if new_group %}
                {% call flashed() %}
                        You attended a <a href="{{ profile(new_group) }}">group</a>.
                {% endcall %}
        {% endif %}
        
        {% if denied_group %}
                {% call flashed(type='block') %}
                        You denied a <a href="{{ profile(denied_group) }}">group</a>.
                {% endcall %}
        {% endif %}
    <div class="well span5">
                <strong><font style="margin-left:150px;" color="2896FF"> From Buddies </font></strong>
                <div style="margin-top:20px;">
                        {% for buddy_inv in buddy_invitations %}
                        {% set user = buddy_inv.sender %}
                        <p style="float: left;">
													<a href="{{ profile(user) }}">
														<img src="{{ photo_thumbnail(user) }}" height="50px" width="50px" border="1px">
													</a>
												</p>
                        <font style="margin-left:10px;" color="2BA515"><b> {{ user.full_name }} </b> <br> </font>        
                        <font style="margin-left:10px;" color="E8A40D"> Wants to add you as a friend  </font>
                    <div class="btn-group" style="margin-right:10px;float:right">
                            <a class="btn btn-success" href="{{ url_for('invite_accept', inv_id=buddy_inv.id) }}" > Accept</a>
                                  <a class="btn btn-danger" href="{{ url_for('invite_deny', inv_id=buddy_inv.id) }}" > Deny </a>
                          </div>
                        <hr>
                        {% endfor %}    
                </div>
        
        </div>
        <div class="well span5">
                <strong><font style="margin-left:150px;" color="2896FF"> From Groups </font></strong>
                <div style="margin-top:20px;">
                        {% for event_inv in event_invitations %}
                        {% set event = event_inv.event %}
                        <p style="float: left;">
													<a href="{{ profile(event_inv.sender) }}">
														<img src="{{ photo_thumbnail(event_inv.sender) }}" height="50px" width="50px" border="1px">
													</a>
												</p>
												<font style="margin-left:10px;" color="2BA515"><b> {{ event.name }} </b> <br> </font>        
												<font style="margin-left:10px;" color="E8A40D"> Invited by {{ event_inv.sender.full_name }} </font>
												<div class="btn-group" style="margin-right:10px; float:right;">
													<a class="btn btn-success" href="{{ url_for('event_invitation_accept', invitation_id=event_inv.id) }}"> Accept</a>
													<a class="btn btn-danger" href="{{ url_for('event_invitation_decline', invitation_id=event_inv.id) }}"> Deny </a>
                        </div>        
                        <hr>
                        {% endfor %}     
                </div>
</div>
{% endblock %}

