{% extends "layout.html" %}

{% block title %} {{ buddy_record.full_name }} {% endblock %}
{% block content %}

<br>
<div class="row">
	<div class="span4 offset1">
		<img src="{{ photo_large(user_record) }}" class="img-rounded">
	</div>

	<div class="span6">
		<h2>{{ user_record.full_name }}</h2>
		<address>
		Location: {{ user_record.location.name }}
		</address>
		<div id="profile-social">
			{% if user_record.facebook %}
				<a href="{{ user_record.facebook }}">
					<img src="{{ img('facebook.png') }}" height="50" width="50">
				</a>
			{% endif %}

			{% if user_record.twitter %}
				<a href="{{ user_record.twitter }}">
					<img src="{{ img('twitter.png') }}" height="50" width="50">
				</a>
			{% endif %}
	</div>
</div>


<div class="row">
	<div class="span10 offset1">
		<h4>About Me</h4>
		{% for p in user_record.bio|paragraphs %}
			<p>{{ p }}</p>
		{% endfor %}
	</div>
</div>

{% endblock %}
