{% extends "layout.html" %}
{% from "lib.html" import flashed %}

{% block title %}Invites{% endblock %}

{% block extrahead %}
<style type="text/css">
	#wrapper {
		width:350px;
	}
</style>

<script src="{{ js('jquery-ui') }}" type="text/javascript"></script>
<script src="{{ js('fullcalendar') }}"></script>

<script>
	$(document).ready(function() {
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			editable: false,
			events: {{ events_json|tojson|safe }}
		});
	});
</script>
{% endblock %}

{% block content %}
<br><br>
<h2> Groups </h2>
<br><br>
	{% if new_friend %}
		{% call flashed() %}
			You added a <a href="{{ profile(new_friend) }}"> friend</a>.
		{% endcall %}
	{% endif %}

	{% if denied_friend %}
		{% call flashed(type='block') %}
			You denied a <a href="{{ profile(denied_friend) }}"> friend</a>.
		{% endcall %}
	{% endif %}
	
	{% if new_group %}
		{% call flashed() %}
			You attended a <a href="{{ profile(new_group) }}">group</a>.
		{% endcall %}
	{% endif %}
	
	{% if denied_group %}
		{% call flashed(type='block') %}
			You denied a <a href="{{ profile(denied_group) }}">group</a>.
		{% endcall %}
	{% endif %}
    <div style=" width:300px;box-shadow: 3px 3px 5px #888888;" class="well span5 box">
		<strong><font style="margin-left:100px;" color="2896FF"> From Buddies </font></strong>
		<div style="margin-top:20px;">
			{% for event, buddy in invited %}
			<p style="float: left;"><img src="{{ photo_thumbnail(buddy) }}" height="50px" width="50px" border="1px"></p>
			<font style="margin-left:10px;" color="2BA515"><b> {{ event.name }} </b> <br> </font>
	  	  <div class="btn-group" style="margin-left:50px;">
	    		<a class="btn btn-success" style="margin-right:10px;" href="{{ url_for('attend_event', event_id=event.id) }}"> <font size="2" style="margin-left:10px;"> Join Study Group </a>  
	  		</div>
			<hr>
			{% endfor %} 
		</div>
	
	</div>
	<div style="width:600px;box-shadow:3px 3px 5px #888888;" class="well span5">
		<div id="wrapper">
			<div style="float: left; width: 600px;" id='calendar'>
				<a href="{{ url_for('calendar') }}"> <font size="2"> View Larger Version. </font></a>
				<a href="{{url_for('event_create')}}" > <font size="2" style="padding-left:350px;"> Create New Events. </font></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
