{% extends "green/global_layout.html" %}
{% block title %} New Event for {{course.name}} {% endblock %}
{% macro render_errors(field) %}
	{% if field.errors %}
		<ul class="errors">
		{% for error in field.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}
{% block pagestyle %}
<link href="/static/_assets/css/new-event.css" rel="stylesheet">
<link href="/static/_assets/plugins/calendar/calendar.css" rel="stylesheet">
{% endblock %}
{% block content %}

<script src="/static/_assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<link href="/static/_assets/plugins/datepicker/datepicker.css" rel="stylesheet">

<article id="top" class="detail">
    <div class="wrapper container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="{{url_for('course_view', id=course.id)}}"><div class="thumbnail" style="background-image:url('/static/_assets/images/courses/math_chalkboard2.jpg')">&nbsp;</div></a>
                <h1>New Event</h1>
                <div class="subtitle"><span>{{course.instructor}}</span>&bull;<span><a href="./detail.html">{{course.name}}</a></div>
            </div>
        </div>
    </div>
</article>

<article id="main-content" class="container">

	{% for message in get_flashed_messages() %} 
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button >{{ message }}
	</div >
	{% endfor %}

    <form id="event_form" role="form" action="{{request.path}}" method="POST">
		{{ form.csrf_token }}
        <section id="" class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="group-heading"><h3>Step 1: Basic Info</h3></div>
                
                <div class="form-group">
					{{form.title.label(class_="control-label")}}
					{{render_errors(form.title)}}
					{{form.title(class_="form-control")}}
                </div>

                <div class="form-group">
					{{form.location.label(class_="control-label")}}
					{{render_errors(form.location)}}
					{{form.location(class_="form-control")}}
                </div>

                <div class="form-group">
                    <div>
						{{form.date.label(class_="control-label")}}
						{{render_errors(form.date)}}
						{{form.date(class_="datepicker", **{"data-date-format": "mm/dd/yy"})}}
                        <span class="icon icon-calendar">&nbsp;</span>
                    </div>
                    <script>$( document ).ready( function() { $('#date').datepicker(); });</script>
                </div>

                <div class="form-group">
                    <label for="" class="control-label">Time</label>
					{{render_errors(form.start)}}
					{{render_errors(form.end)}}
                    <div class="range">
                        <div class="from">
                            <span>Starts</span>
							{{form.start(class_="form-control")}}
                        </div>
                        <div class="to">
                            <span>End</span>
							{{form.end(class_="form-control")}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="avail" class="control-label">Availability</label>
                    <div class="radio horizontal">
                        <label>
                        <input type="radio" name="avail" id="availPublic" value="option1" checked>
                            Open to the class
                        </label>
                    </div>
                    <div class="radio horizontal">
                        <label>
                        <input type="radio" name="avail" id="availPrivate" value="option2" disabled>
                            Private event
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="avail" class="control-label">Comment</label>
	                <div class="form-group">
						{{render_errors(form.note)}}
						{{form.note(class_="form-control")}}
	                </div>
                </div>

            </div>
        </section>


        <section id="submit" class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="javascript:event_form.submit()" class="button submit submit-form">Create Event</a>
            </div>
        </section>

    </form>

</article>
{% endblock %}