{% extends "green/global_layout.html" %}
{% block title %} Courses {% endblock %}
{% block pagestyle %}
<link href="/static/_assets/css/event-detail.css" rel="stylesheet">
{% endblock %}
{% block content %}

<article id="top" class="profile">
    <div class="wrapper container">
        <div class="row">
            <div class="course-image" style="background-image:url('/static/_assets/images/courses/math_chalkboard2.jpg')">&nbsp;</div>
            <h1 class="col-sm-12">{{event.name}}</h1>
            <div class="col-sm-12 subtitle"><span>{{course.instructor}}</span>&bull;<span><a href="{{url_for('course_view', id=course.id)}}">{{course.name}}</a></span>&bull;<span><a href="{{url_for('course_events', id=course.id )}}">Events</a></span></div>
            <div class="col-sm-12">
				<script>
				$( document ).ready(function(){
					$("#join").click(function(){
						var rsvp = {
							csrf_token: "{{form.csrf_token.current_token}}",
							attending: "{{(not attending)|lower}}"
						};
						$.post("{{url_for('course_event_attend', course_id=course.id, event_id=event.id)}}", rsvp, function(){ location.reload() });
					});
				});
				</script>

				{% if attending %}
                <a href="#" id="join" class="action button primary"><span class="icon icon-event">&nbsp;</span>Attending</a>
				{% else %}

                <a href="#" id="join" class="action button primary"><span class="icon icon-event">&nbsp;</span>Join Event</a>
				{% endif %}
            </div>
        </div>
    </div>
</article>

<article id="main-content" class="container">

    <section id="info" class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="group-heading">
                <h3><span class="icon icon-event">&nbsp;</span>Event Details</h3>
            </div>
            <div class="location"><span class="icon icon-location">&nbsp;</span>{{event.location}}<span class="sublocation">Reserved Room 2</span></div>
            <div class="date"><span class="day"><span class="icon icon-event">&nbsp;</span>{{event|date_long}}</span>&bull;<span class="time">{{event|time_span}}</span></div>
            <div class="author"><span class="icon icon-person">&nbsp;</span>by <a href="{{profile(event.owner)}}">{{event.owner.full_name}}</a></div>
            <div class="availability"><span class="icon icon-eye">&nbsp;</span>This event is public.</div>
        </div>
    </section>

    <section id="attendants" class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="group-heading">
                <h3><span class="icon icon-people">&nbsp;</span>Who is going?</h3>
                <a href="#" class="right">See all {{attendees|length}}</a>
            </div>
            <ul class="block-list">
				{% for attendee in attendees[:5]%}
	            <li class="">
	                <a href="{{profile(attendee)}}"><div class="block" style="background-image:url('{{ photo_large(attendee) }}')">&nbsp;</div></a>
	            </li>
				{% endfor %}
				{% if attendees|length > 5 %}
	            <li class="">
	                <a href="#"><div class="block overflow"><span><sup>+</sup>{{attendees|length - 5}}</span></div></a>
	            </li>
				{% endif %}
            </ul>
            <a href="#" class="button add small" data-toggle="modal" data-target="#myModal"><span class="icon icon-people">&nbsp;</span>Invite Buddies</a>


            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
                            <h4 class="modal-title" id="myModalLabel">Invite People</h4>
                        </div>
                        <div class="modal-body">
                            <div id="select-options" class=""><a href="">Select All</a>&nbsp;|&nbsp;<a href="">Select None</a></div>
                            <div class="form-group">
                                <ul class="tablelist-group">
									{% for x in range(10) %}
                                    <li class="tablelist-group-row">
                                        <ul class="tablelist">
                                            <li class="icon"><a href="./profile.html"><div class="block circle" style="background-image:url('../_assets/images/people/15.jpg')">&nbsp;</div></a></li>
                                            <li class="main">
                                                <span class="title">Aaron Cook</span>
                                                <span class="subtitle">Downtown</span>
                                            </li>
                                            <li class="action"><input type="checkbox" value=""></li>
                                        </ul>
                                    </li>
									{% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="button default" data-dismiss="modal">Cancel</a>
                            <a class="button primary">Invite 3 people</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="comments" class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="group-heading">
                <h3><span class="icon icon-comment">&nbsp;</span>Comments</h3>
            </div>
            <ul class="tablelist-group">
				{% for comment in comments %}
                <li class="tablelist-group-row">
                    <ul class="tablelist message">
                        <li class="icon"><a href="{{profile(comment.user)}}"><div class="block circle" style="background-image:url('{{ photo_large(comment.user) }}')">&nbsp;</div></a></li>
                        <li class="main">
                            <div class="message">{{comment.contents}}</div>
                            <div class="subtitle"><span><a href="{{profile(comment.user)}}">{{comment.user.full_name}}</a></span>&bull;<span>June 31 - 5:32PM</span>{% include "flag/_flag_button.html" %}</div>
                        </li>
                    </ul>
                </li>
				{% endfor %}
                <li class="tablelist-group-row">
                    <div class="message-add">
						<form id="comment_form" action="{{ url_for('course_event_comment', course_id=course.id, event_id=event.id) }}" method="POST">
						{{ form.csrf_token }}
                        <h4>Add a comment</h4>
                        <textarea rows="4" name="contents"></textarea>
                        <a href="javascript:comment_form.submit()" class="button small submit">Post</a>
						</form>
                    </div>
                </li>
            </ul>

        </div>
    </section>

</article>
>{% endblock %}