{% from "lib.html" import flash_all %}
<!DOCTYPE html>
<html>
<head>
<title> BuddyUp </title>
<link href="{{ css('bootstrap') }}" rel="stylesheet">
<link href="{{ css('bootstrap-responsive') }}" rel="stylesheet">
<link href="{{ css('bootstrap-fileupload') }}" rel="stylesheet">
<script src="{{ js('jquery') }}"></script>
<script src="{{ js('bootstrap') }}"></script>
<script src="{{ js('bootstrap-button') }}"></script>
<script src="{{ js('bootstrap-dropdown') }}"></script>


<style>
color{color:red;}
#a{width:90%;}
.dropdown-menu {
	background-color:#4169E1;
}
.span7	{width: 450px;}
.detail input {
	margin-top: -5px;
}
</style>
<script>
$(function() {
	$('.detail').hide();
	$('.toggle').change(function() {
		$('#'.concat(this.id).concat('detail')).toggle();
	});
});

</script>

</head>
<body>

<h2 style="text-align:center;"> Welcome to BuddyUp! </h2>
<div class="container">

<div class="span3"></div>
	<div class="well span7">  
		<h4> Please fill in</h4>
		{{ flash_all() }}
		<form action="{{ url_for('profile_create') }}" method="POST">
			<label> Your Name <color> (*Required) </color> </label>  
			<input type="text" class="span2" placeholder="Your Full Name" value="{{ user_record.full_name }}" name="name">    
			<label> Your Course (can select multiple courses)</label>
				<select size=10 style="width: 80px" name="course" multiple>
					{% for course_record in courses %}
						{% if selected(course_record) %}
							<option value="{{ course_record.id }}" selected>
								{{ course_record.name }} by {{ course_record.instructor }}
							</option>
						{% else %}
							<option value="{{ course_record.id }}">
								{{ course_record.name }} by {{ course_record.instructor }}
							</option>
						{% endif %}
					{% endfor %}
				</select>
			<label> Your Major (can select multiple majors)</label>
				<select size=10 style="width: 80px" name="course" multiple>
				{% for majors in  %}
					{% if selected(majors) %}
						<option value="{{ majors }}" selected>
							{{ majors| join(' , ') }}
						</option>
					{% else %}
						<option value="{{ majors }}">
							{{ majors| join(' , ') }}
						</option>
					{% endif %}
				</select>
			

			<label> Location</label>
			<select name="location">
				{# -1 signifies None on the backend #}
				<option value="-1">None</option>
				{% for location in locations %}
					{% if selected(location) %}
					<option value="{{ location.id }}" selected>
						{{ location.name }}
					</option>  
					{% else %}
					<option value="{{ location.id }}">
						{{ location.name }}
					</option>  
					{% endif %}
				{% endfor %}
			</select>

			<label> Time for Study Group </label>
			{% for day in day_names %}
			<label> <input type="checkbox" class="toggle" id="{{ day|lower }}" style="margin-top:-5px; margin-left:10px;" name="{{day|lower}}">{{ day }}</label>
			<div class="detail" id="{{day|lower}}detail" style="margin-left:30px;">
				<label> <input type="radio" name="{{day|lower}}" id="{{day|lower}}-am" value="am"> AM </label>
				<label> <input type="radio" name="{{day|lower}}" id="{{day|lower}}-pm" value="pm"> PM </label>
				<label> <input type="radio" name="{{day|lower}}" id="{{day|lower}}-all" value="all"> All Day </label>
			</div>
			{% endfor %}

			<h4> Please share something about you</h4> 	
			{# Save file upload for later
			<div class="fileupload fileupload-new" data-provides="fileupload">

			<font> Profile Picture </font>
			<span class="btn btn-file" style="margin-left:20px;"><span class="fileupload-new">Choose Picture</span><span class="fileupload-exists">Change</span><input type="file" /></span>
			<span class="fileupload-preview"></span>
			<br>

			<font>
					<br> Current avatar
			</font>
		
			<img src="../static/img/index.jpg" class="img-rounded" width="100" height="100" style="margin-left:20px;">
			<br>
			<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
			#}

			<label style="margin-top:20px;">Your Facebook 
				<input type="text" class="span3" placeholder="http://facebook.com/yourfacebook" style="margin-left:15px;" value="{{ facebook }}" name="facebook">
			</label>
			<label style="margin-top:20px;">Your Twitter
				<input type="text" class="span3" placeholder="http://twitter.com/yourtwitter" style="margin-left:15px;" value="{{ twitter }}" name="twitter">
			</label>
			<label> A Few Words About You </label>
			<textarea type="text" style="height: 150px;width: 450px;" value="{{ bio }}" name="bio"> </textarea>
			<input class="btn btn-large btn-primary" style="margin-left:400px;margin-top: 20px;" type="submit" value="save">
		</div>
	</form>
</div>   

</body>
</html>
