<!DOCTYPE html>
<html>
<head>
<title>Welcome to BuddyUp!</title>
	<link href="{{ css('bootstrap.min') }}" rel="stylesheet">
	<link href="{{ css('style') }}" rel="stylesheet">
	<script src="{{ js('jquery') }}"></script>
	<script src="{{ js('bootstrap') }}"></script>

<style>
body {
  background-image: url("/static/img/wavegrid_lite.jpg");
}

h2 {
	.margin-top: 0px; /* resetting */
}

p {
	width: 66%;
    margin: 0 auto;
	font-size: 18px;
	font-weight: 500;
}

</style>
</head>
<body>
<div class="container text-center">
	<h2>Welcome to BuddyUp!</h2>
	<br/>
	<br/>
	<p>Here at BuddyUp we believe your most valuable resource is each other. We're students, like you, so we're learning as we go, but planning to take BuddyUp worldwide. Your feedback, ideas and loyalty are very important to us. Now go make some buddies!</p>
	<br/>
	<br/>
	<a class="btn btn-large btn-primary" href="{{ url_for('home') }}"> Get Started</a>
</div>
</body>
</html>