<html>
<head>
<title> BuddyUp </title>
<link href="{{ css('bootstrap') }}" rel="stylesheet">
<link href="{{ css('bootstrap-responsive') }}" rel="stylesheet">
<link href="{{ css('bootstrap-fileupload') }}" rel="stylesheet">
<link href="{{ css('style') }}" rel="stylesheet">
<script src="{{ js('jquery') }}"></script>
<script src="{{ js('bootstrap') }}"></script>
<script src="{{ js('bootstrap-button') }}"></script>
<script src="{{ js('bootstrap-dropdown') }}"></script>
</head>

<body class="suggestion">

<div class="container ">
	<div class="well span6 offset3" style="box-shadow: 3px 3px 5px #888888;">
	<div class="condition ">
		<h2> Term and Conditions </h2>
		<br>
		<p> Before you click on the confirmation button at the end of this agreement, carefully read the following Agreement between you and BuddyUp Inc., doing business as "getbuddyup.com". <br>


		<h4>1. ELIGIBILITY</h4>

		<p> &nbsp; &nbsp; &nbsp; A user must be 18 years of age or older to register and use the Website. To register, a user must be a legal resident of the United States and must be an individual, not a corporation or other business entity. Members must also be a student, staff or faculty of Portland State University. Membership is void where otherwise prohibited by law. Your use of getbuddyup.com must be in accordance and in a manner consistent with all applicable state and federal laws. An individual user may only register for one Membership for any single place of residence. Once registered, your use of the Website means that you have agreed to these term and conditions and thus become a Member of getbuddyup.com. Membership is non-transferable and may not be assigned or used by anyone except the registered user.</p>


		<h4>2. REGISTRATION INFORMATION.</h4>

		<p> &nbsp; &nbsp; &nbsp; A user agrees to provide true, accurate and complete registration information and to maintain and update the information as applicable. If any of the information is untrue, inaccurate, not current, incomplete or incorrect, getbuddyup.com has the right to terminate a Member's use of the Website.</p> 


		<h4>3. ACCEPTABLE USE AND CONTENT.</h4>

		<p> &nbsp; &nbsp; &nbsp;A Member is solely responsible for the content published, transmitted, or displayed (hereinafter "a Post" or "Posted") on the Website or in a message to another Member. BuddyUp Inc. has the right but not the obligation to delete any Posts including but not limited to content, messages, invitations, photos, or profiles that violate this Agreement, might threaten the safety of other members, or which might be offensive or illegal. Opinions, advice, statements, offers, or other information made available through the Website or Services by Members are those of their respective authors and should not necessarily be relied upon. Such authors are solely responsible for their content.</p>


		<h4>4. OWNERSHIP AND PROPRIETARY RIGHTS.</h4>

		<p> &nbsp; &nbsp; &nbsp;The Services and Website are all owned by BuddyUp Inc. and its structure, organization and code are the valuable property of BuddyUp Inc. and are protected by United States Copyright and other laws, international treaty provisions and applicable laws, including intellectual property, of the country in which it is being used. Buddyup and getbuddyup.com are service marks of BuddyUp Inc. </p>


		<h4>5. TERM AND TERMINATION.</h4>

		<p> &nbsp; &nbsp; &nbsp;This Agreement is effective for the period that the services are used by you. You may terminate this Agreement at any time and without cause by using the "delete profile" link contained on the "my profile" pages of the Website, which will be made available by June 1st, 2014. After such action, you will be unable to use the getbuddyup.com Website or Services and may be unable to become a Member in the future. Getbuddyup.com shall not be obligated to refund any monies that may have been paid. Your rights under this Agreement will terminate automatically without notice from getbuddyup.com if you fail to comply with any term(s) of this Agreement. Getbuddyup.com reserves the right to terminate your access to the Website or Services for any reason and at any time upon notice to you at the e-mail address provided in your registration. If your e-mail address is rejected or inactive, this is sufficient cause for getbuddyup.com to terminate service without notice.</p> 


		<h4>6. MEMBER DISPUTES.</h4>

		<p> &nbsp; &nbsp; &nbsp;All Members are responsible for their interactions with other Members. Getbuddyup.com reserves the right, but has no obligation, to monitor disputes between and among Members.</p>


		<h4>7. LIMITATION ON LIABILITY.</h4>

		<p> &nbsp; &nbsp; &nbsp;BuddyUp Inc. shall not be liable for damage, injury, nonperformance, delay, errors or other loss caused by any event reasonably beyond buddyup.com's control including, but not limited to acts of God, war, hostilities, revolution, civil disorder, national emergency, strikes, lockouts, unavailability of supplies, epidemics, fire, flood, earthquake, force of nature, explosion, embargo or any law, proclamation, regulation, ordinance or other act or order of any court, government or governmental agency. Getbuddyup.com's liability to a Member for any cause whatsoever, and regardless of the form of the action, will be limited to the amount paid, if any, by the Member for the services during the term of membership. In addition, buddyup.com disclaims all liability, regardless of the form of action, for acts or omissions of other Members or users of the Website and Services.</p>


		<h4>8. PRIVACY.</h4>

		<p> &nbsp; &nbsp; &nbsp;Use of the Website and Services are also governed by our Privacy Policy. You agree that you have had a chance to review our Privacy Policy.</p>


		<h4>9. RESPONSIBLE DISCLOSURE OF PERSONAL INFORMATION.</h4>

		<p> &nbsp; &nbsp; &nbsp;A Member is entirely responsible for maintaining the confidentiality of the Member's password and registration information. Furthermore, a Member is entirely responsible for any and all activities which occur under the Member's account and agrees to indemnify, defend, and hold harmless buddyup.com for any liability or expenses arising from such use or misuse. It is possible that other users, including unauthorized users or "hackers" may obtain information about you due to your use of the service and that the recipient of such information may use it to harass or injure you. A user must consider this when selecting the type of information to disclose either in the registration process or in the public postings on the Website. Getbuddyup.com is not responsible for the use of any personal information that a user chooses to publicly disclose on the Website or in using the Service.</p>


		<h4>10. MODIFICATIONS TO TERMS OF SERVICE.</h4>

		<p> &nbsp; &nbsp; &nbsp;The terms and conditions of this Agreement are subject to change by getbuddyup.com at any time, effective upon notice to you as a Member via the e-mail address provided in your registration. In addition, getbuddyup.com may broadcast the notice of changes on the home pages or via the internal messaging provided on getbuddyup.com. Any of these methods constitute effective notice to you. If you can not abide by the revised terms and conditions, you must discontinue the use of the Website and Services and delete your profile.</p>


		<h4>11. ENTIRE AGREEMENT.</h4>

		<p> &nbsp; &nbsp; &nbsp;This Agreement constitutes the entire agreement between the parties with respect to the Buddyup Property and supersedes all prior or contemporaneous understandings regarding this subject matter.</p>


		<h4>12. CUSTOMER CONTACT INFORMATION.</h4>

		<p> &nbsp; &nbsp; &nbsp;To request a written copy of this Agreement or to inquire about terms or provisions of this Agreement, please contact BuddyUp Inc. in writing at 1400 SW 5th Ave, Portland OR 97201 or by email at getbuddyup@gmail.com.</p>
		<a class="btn btn-large btn-primary" href="{{ url_for('home') }}" style="margin-left:450px;margin-top: 8px;"> I agree</a>
</div>
</div>
</div>
</body>
</html>