<!DOCTYPE html>
<html>
<head>
<title> BuddyUp </title>
<link href="{{ css('bootstrap') }}" rel="stylesheet">
<script src="{{ js('jquery') }}"></script>
<script src="{{ js('bootstrap') }}"></script>
<style>
.span6	{width: 450px;}
</style>
</head>
<body>
	

<h2 style="text-align:center;"> Welcome to BuddyUp! </h2>
<div class="container">
<div class="span3"></div>
		<form class="well span6">  
			<font size="4">
				<font color="red">BuddyUp </font> is a website created by students, for students. <br><br><i> It&#39;s designed to help you find study buddies and organize face-to- face study groups. Research shows that students who participate in study groups are more likely to succeed academically. </i><br><br> Take a few moments to set up your profile and then go exploring.<br><br> Any ideas or suggestions? Please email Brian Forrester <font color="blue"> willbforrester@gmail.com </font>. <br><br> You&#39;re among the first users and your engagement is strongly encouraged! Help yourself, help your peers and make friends.
			</font>
		  <a class="btn btn-large btn-primary" href="{{ url_for('setup/suggestions') }}" style="margin-left:370px;margin-top: 30px;">  Next </a>
		</form>  
</div>   
</body>
</html>
