{% extends "green/global_layout.html" %}
{% block title %} Be a Tutor {% endblock %}
{% macro render_errors(field) %}
	{% if field.errors %}
		<ul class="errors">
		{% for error in field.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}
{% block pagestyle %}
<link href="/static/_assets/css/event-detail.css" rel="stylesheet">
{% endblock %}
{% block content %}
<article id="top" class="detail">
    <div class="wrapper container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="#"></a>
                <h1>Become a Tutor</h1>
                <div class="subtitle">
					Are you interested in being listed as a tutor? Fill out this form. 
					<br/>
					Approved tutors will be listed with relevant courses.
                </div>
            </div>
        </div>
    </div>
</article>

<article id="main-content" class="container short_content">

	{% for message in get_flashed_messages() %} 
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button >{{ message }}
	</div >
	{% endfor %}

    <form id="tutor_application_form" role="form" action="{{request.path}}" method="POST">
		{{ form.csrf_token }}
        <section id="" class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="group-heading"><h3>Step 1: Select Courses</h3></div>
                
                <div class="form-group">
					{{render_errors(form.courses)}}
					{{form.courses(class_="form-control")}}
                </div>

                <div class="group-heading"><h3>Step 2: Select Languages</h3></div>

                <div class="form-group">
					{{render_errors(form.languages)}}
					{{form.languages(class_="form-control")}}
                </div>
            </div>
        </section>

        <section id="submit" class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="javascript:tutor_application_form.submit()" class="button submit submit-form">Apply</a>
            </div>
        </section>

{#
        <section id="" class="row">
            <div class="col-md-6 col-md-offset-3">

                    <div class="form-group people-list">
                        <ul class="tablelist-group">
							{% for course in courses %}

                            <li class="tablelist-group-row">
                                <ul class="tablelist">
                                    <li class="icon"><a href="#"><div class="block circle" style="background-image:url('')">&nbsp;</div></a></li>
                                    <li class="main">
                                        <span class="title">{{course.name}}</span>
                                        <span class="subtitle">{{course.instructor}}</span>
                                    </li>
                                    <li class="action"><input type="checkbox" name="invited" value="{{course.id}}"></li>
                                </ul>
                            </li>
							{% endfor %}
                        </ul>
                    </div>

            </div>
        </section>
#}

    </form>

</article>

{% endblock %}