{% extends "green/global_layout.html" %}
{% block title %} Be a Tutor {% endblock %}
{% block pagestyle %}
<link href="/static/_assets/css/everything.css" rel="stylesheet">
{% endblock %}
{% block content %}
<article id="top" class="detail">
    <div class="wrapper container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="#"></a>
                <h1>Application Received</h1>
                <div class="subtitle">
					Thank you. Your application is now under review.
                </div>
            </div>
        </div>
    </div>
</article>


{% endblock %}