{% extends "green/global_layout.html" %}
{% block title %} Be a Tutor {% endblock %}
{% block pagestyle %}
<link href="/static/_assets/css/everything.css" rel="stylesheet">
{% endblock %}
{% block content %}
<article id="top" class="detail">
    <div class="wrapper container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="#"></a>
                {% if approved %}
                <h1>Application Approved</h1>
                <div class="subtitle">
					Thank you. Your application has been approved, and you're listed as a tutor!
                </div>
                {% else %}
                <h1>Application Received</h1>
                <div class="subtitle">
                    Thank you. Your application is now under review.
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</article>


{% endblock %}
{% block bottom_js %}
<script>
Intercom('trackEvent', 'applied-to-be-a-tutor');
</script>
{% endblock %}
