{% extends "green/global_layout.html" %}
{% block title %} {{ classmate.full_name }} {% endblock %}
{% macro render_errors(field) %}
	{% if field.errors %}
		<ul class="errors">
		{% for error in field.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}
{% block pagestyle %}
<link href="/static/_assets/css/profile.css" rel="stylesheet">
{% endblock %}
{% block content %}

<article id="top" class="profile">
    <div class="wrapper container">
        <div class="row">
            <h1 class="col-sm-12">{{ classmate.full_name }}</h1>
            <div class="profile-image" style="background-image:url('{{ photo_large(classmate) }}')">&nbsp;</div>
            <div class="col-sm-12">
				<a href="{{url_for('profile_photo')}}" class="action button primary">Update Photo</a>
            </div>
        </div>
    </div>
</article>

<article id="main-content" class="container">

{% include "flash.html" %}

	<form id="form" role="form" action="{{ url_for('profile') }}" method="POST"
		enctype="multipart/form-data">
		{{ form.csrf_token }}

        <section id="" class="row">
            <div class="col-md-6 col-md-offset-3">

                <div class="form-group">
				<label for="" class="control-label">Name</label>
					{{render_errors(form.full_name)}}
					{{form.full_name(class_="form-control")}}
                </div>


                <div class="form-group">
                    <label for="" class="control-label">About you</label>
					{{render_errors(form.bio)}}
                    {{form.bio(class_="form-control", rows=5)}}
                    <span class="message pull-right">49 words left</span>
                </div>
                <div class="multipicker form-group">
                    <label for="" class="control-label">What's your major?</label>
					{{render_errors(form.majors)}}
                    <div class="multipicker-row">
						{{form.majors(class_="form-control")}}
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="control-label">Location</label>
					{{render_errors(form.location)}}
                    {{form.location(class_="form-control")}}
                </div>

                <div class="multipicker form-group">
                    <label for="" class="control-label">What languages do you speak?</label>
					{{render_errors(form.languages)}}
                    <div class="multipicker-row">
						{{form.languages(class_="form-control")}}
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="control-label">What are you interested in?</label>
					TODO + ERRORS
                </div>

                <div class="form-group">
                    <label for="" class="control-label">Contact</label>

					<label for="" class="control-label">Facebook</label>
					{{render_errors(form.facebook)}}
					{{form.facebook(class_="form-control")}}
					<label for="" class="control-label">Twitter</label>
					{{render_errors(form.twitter)}}
					{{form.twitter(class_="form-control")}}
					<label for="" class="control-label">LinkedIn</label>
					{{render_errors(form.linkedin)}}
					{{form.linkedin(class_="form-control")}}

					<label for="" class="control-label">Email</label>
					{{render_errors(form.email)}}
					{{form.email(class_="form-control")}}
                </div>



            </div>
        </section>

        <section id="submit" class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="javascript:form.submit()" class="button primary action">Save Settings</a>
            </div>
        </section>

    </form>












</article>

{% endblock %}
