{% extends "green/global_layout.html" %}
{% block title %} Classmates {% endblock %}
{% block pagestyle %}
<link href="/static/_assets/css/buddies.css" rel="stylesheet">
{% endblock %}
{% block content %}

            <article id="top" class="filter">
                <div class="wrapper container">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-0">
                            <h1>Classmates</h1>
                            <a href="{{url_for('invite_friend')}}" class="action button small primary">Invite a Friend</a>
                        </div>
                        <div class="col-md-12 col-md-offset-0">
                            <ul class="hidden-xs filter">
								{% include "buddy/nav.html" %}
                            </ul>
                            <div class="visible-xs-block dropdown">
                                <a data-toggle="dropdown" class="button dropdown" href="#">Everyone</a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									{% include "buddy/nav.html" %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article id="main-content" class="container">
				{% if group_list %}
				<script>
				$(function(){
					$('#group_list').change(function(){
						if($('#group_list').val() > 0){
							window.location.href="{{url_for(request.endpoint)}}" + $('#group_list').val();
						}
					});
				});
				</script>

				Filter by &nbsp;&nbsp;
				<select id="group_list">
					<option value=0>---</option>
					{% for group in group_list %}
					<option value="{{group.id}}">{{group.name}}</option>
					{% endfor %}
				</select>
				<br/>
				{% endif %}

                <section class="row">
                    <div class="col-md-12 col-md-offset-0">

					{% for grouping in groupings %}
						
                        <div class="group-heading">
                            <h3>{{grouping}}</h3>
                        </div>
						
                        <ul class="block-grid">
							{% for classmate in classmates[grouping] %}
							<li class="block {% if classmate.is_buddy %}followed{%endif%}" style="background-image:url('{{ photo_large(classmate) }}')">
								<a href="{{ profile(classmate) }}"><img src="/static/_assets/images/clear.png" /><div class="info hide"><div class="wrapper">
									<span class="title">{{ classmate.full_name }}</span>
									<span class="subtitle">
										<span class="icon icon-course">&nbsp;</span>
										{% if classmate.courses %}
											{{ classmate.courses[0] }}
										{% else %}
											Not enrolled
										{% endif %}
									</span>
									{% if not classmate.is_buddy %}
										{% if classmate.invited %}
										<span class="button small">
											Invitation Sent
										</span>
										{% else %}
										<span class="button small" onclick="$.post('{{url_for('invite_send', user_name=classmate.user_name)}}', function(){ location.reload() });">
											<span class="icon icon-person-add">&nbsp;</span>Invite
										</span>
										{% endif %}
									{% endif %}
								</div></div></a>
							</li>
							{% endfor %}
                        </ul>
					{% endfor %}
                    </div>
					{% include "buddy/pagination_nav.html" %}
                </section>
            </article>

{% endblock %}
