{% extends "green/global_layout.html" %}
{% block title %} {{ classmate.full_name }} {% endblock %}
{% block pagestyle %}
<link href="/static/_assets/css/profile.css" rel="stylesheet">
{% endblock %}
{% block content %}

<article id="top" class="profile">
    <div class="wrapper container">
        <div class="row">
            <div class="profile-image" style="background-image:url('{{ photo_large(classmate) }}')">&nbsp;</div>
            <h1 class="col-sm-12">{{ classmate.full_name }}</h1>
			<span class="col-sm-12 subtitle">Portland State University
			{% if classmate.location %}
				&nbsp;&bull;&nbsp;{{ classmate.location.name }}
			{% endif %}
			</span>

            <div class="col-sm-12">
				{% if is_buddy %}
					<a href="#" class="action button primary"><span class="icon icon-person-add">&nbsp;</span>Remove Buddy</a>
				{% elif not myself %}
					<a href="#" class="action button primary"><span class="icon icon-person-add">&nbsp;</span>Invite</a>
				{% endif %}
            </div>
        </div>
		<a href="{{ url_for('profile_edit') }}" class="action button primary">Edit</a>
    </div>
</article>

<article id="main-content" class="container">

	{% if classmate.bio %}
    <section id="about" class="row">
        <div class="col-md-6 col-md-offset-3">
		{% for p in classmate.bio|paragraphs %}
			<p>{{ p }}</p>
		{% endfor %}
        </div>
    </section>
	{%endif%}

    <section id="interests" class="row">
		{% if classmate.courses.count() > 0 %}
        <div class="col-md-6 col-md-offset-3">
            <h3>Courses</h3>
            <ul>
				{% for course in classmate.courses %}
                <li><a href="{{url_for('course_view', id=course.id)}}">{{course}}</a></li>
				{% endfor %}

            </ul>
        </div>
		{%endif%}

		{% if classmate.majors.count() > 0 %}
        <div class="col-md-6 col-md-offset-3">
            <h3>Major</h3>
            <ul>
				{% for major in classmate.majors %}
                <li><a href="">{{major.name}}</a></li>
				{% endfor %}
            </ul>
        </div>
		{%endif%}

		{% if classmate.languages.count() > 0 %}
        <div class="col-md-6 col-md-offset-3">
            <h3>Languages</h3>
            <ul>
				{% for language in classmate.languages %}
                <li><a href="">{{language.name}}</a></li>
				{% endfor %}
            </ul>
        </div>
		{%endif%}

        <div class="col-sm-12">
            <a href="mailto:{{ classmate|email }}" class="action button primary">Send {{ classmate.full_name }} an email</a>
        </div>
    </section>

</article>

{% endblock %}
