{% extends "green/global_layout.html" %}
{% block title %} {{ classmate.full_name }} {% endblock %}
{% block pagestyle %}
<link href="/static/_assets/css/profile.css" rel="stylesheet">
{% endblock %}
{% block content %}
<script>
$(function(){
	$('a.remove-buddy').click(function(){
        Intercom('trackEvent', 'removed-buddy');
		$.post("{{url_for('unfriend', current_name=user_record.user_name, user_name=classmate.user_name)}}", function(){ location.reload() });
	})
});

$(function(){
	$('a.invite-buddy').click(function(){
        Intercom('trackEvent', 'invite-sent');
		$.post("{{url_for('invite_send', user_name=classmate.user_name)}}", function(){ location.reload() });
	})
});
</script>
<article id="top" class="profile">
    <div class="wrapper container">
        <div class="row">
            <div class="profile-image" style="background-image:url('{{ photo_large(classmate) }}')">&nbsp;</div>
            <h1 class="col-sm-12">{{ classmate.full_name }}</h1>
			<span class="col-sm-12 subtitle">{# Portland State University #}
			{% if classmate.location %}
				&nbsp;&bull;&nbsp;{{ classmate.location.name }}
			{% endif %}
			</span>

            <div class="col-sm-12">
				{% if myself %}
					<a href="{{ url_for('profile') }}" class="action button primary">Edit</a>
				{% else %}
                    {% if not is_buddy %}
						{% if is_invited %}
						Invitation Sent
						{% else %}
						<a href="#" class="action button primary invite-buddy"><span class="icon icon-person-add">&nbsp;</span>Buddy Up</a>
						{% endif %}
					{% endif %}
				{% endif %}
            </div>
        </div>
    </div>
</article>

<article id="main-content" class="container">

{% for message in get_flashed_messages() %}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button >{{ message }}
</div >
{% endfor %}


	{% if classmate.bio %}
    <section id="about" class="row">
        <div class="col-md-6 col-md-offset-3">
		{% for p in classmate.bio|paragraphs %}
			<p>{{ p }}</p>
		{% endfor %}
        </div>
    </section>
	{%endif%}

	{% if classmate.email %}
    <section id="message" class="row">
		<script>
		function sendMail() {
		    var link = "mailto:{{classmate.email}}?"
		             + "subject=" + escape("A message from {{user_record.full_name}} on BuddyUp")
		             + "&body=" + escape(document.getElementById('buddy_message').value)
		    ;
			Intercom('trackEvent', 'sent-message');
		    window.location.href = link;
		}
		</script>
        <div class="col-md-6 col-md-offset-3 form-wrapper">
            <h4>Send {{classmate.full_name}} a message</h4>
            <textarea id="buddy_message" rows="5">Hi {{classmate.full_name}}! </textarea>
            <a href="#" class="button small submit" style="float:right" onclick="sendMail(); return false">Send</a>
        </div>
    </section>
	{%endif%}

    <section id="interests" class="row">

        {% if tutor_for|list|count > 0 %}
        <div class="col-md-6 col-md-offset-3">
            <h3>Tutors</h3>
            <ul>
                {% for course in tutor_for %}
                <li><a href="{{url_for('course_view', id=course.id)}}">{{course}}</a></li>
                {% endfor %}

            </ul>
        </div>
        {%endif%}


		{% if classmate.courses.count() > 0 %}
        <div class="col-md-6 col-md-offset-3">
            <h3>Courses</h3>
            <ul>
				{% for course in classmate.courses %}
                <li><a href="{{url_for('course_view', id=course.id)}}">{{course}}</a></li>
				{% endfor %}

            </ul>
        </div>
		{%endif%}

		{% if classmate.majors.count() > 0 %}
        <div class="col-md-6 col-md-offset-3">
            <h3>Major</h3>
            <ul>
				{% for major in classmate.majors %}
                <li><a href="{{url_for('list_classmates_by_single_major', major_id=major.id)}}">{{major.name}}</a></li>
				{% endfor %}
            </ul>
        </div>
		{%endif%}

		{% if classmate.languages.count() > 0 %}
        <div class="col-md-6 col-md-offset-3">
            <h3>Languages</h3>
            <ul>
				{% for language in classmate.languages %}
                <li><a href="{{url_for('list_classmates_by_single_language', language_id=language.id)}}">{{language.name}}</a></li>
				{% endfor %}
            </ul>
        </div>
		{%endif%}

        {% if is_buddy %}
        <div class="col-md-6 col-md-offset-3">
            <a href="#" class="action button primary remove-buddy"><span class="icon icon-remove">&nbsp;</span>Remove Buddy</a>
        </div>
        {% endif %}


    </section>

</article>

{% endblock %}

{% block bottom_js %}
<script>
Intercom('trackEvent', 'viewed-profile');
</script>
{% endblock %}