{% extends "green/global_layout.html" %}
{% block title %} {{ buddy_record.full_name }} {% endblock %}
{% block pagestyle %}
<link href="/static/_assets/css/profile.css" rel="stylesheet">
{% endblock %}
{% block content %}

<article id="top" class="profile">
    <div class="wrapper container">
        <div class="row">
            <div class="profile-image" style="background-image:url('{{ photo_large(buddy_record) }}')">&nbsp;</div>
            <h1 class="col-sm-12">{{ buddy_record.full_name }}</h1>
			<span class="col-sm-12 subtitle">Portland State University
			{% if buddy_record.location %}
				&nbsp;&bull;&nbsp;{{ buddy_record.location.name }}
			{% endif %}
			</span>

            <div class="col-sm-12">
				{% if not is_buddy %}
					<a href="{{ url_for('invite_send', user_name=buddy_record.user_name) }}"
						 class="action button primary"><span class="icon icon-person-add">&nbsp;</span>Invite</a>
				{% elif is_invited %}
					<a href="{{ url_for('invite_accept', user_name=buddy_record.user_name)}}"
						 class="action button primary"><span class="icon icon-person-add">&nbsp;</span>Accept Invitation</a>
					<a href="{{ url_for('invite_deny', user_name=buddy_record.user_name) }}"
						 class="action button primary"><span class="icon">&nbsp;</span>Reject Invitation</a>
				{% endif %}
            </div>
        </div>
    </div>
</article>

<article id="main-content" class="container">

	{% if buddy_record.bio %}
    <section id="about" class="row">
        <div class="col-md-6 col-md-offset-3">
		{% for p in buddy_record.bio|paragraphs %}
			<p>{{ p }}</p>
		{% endfor %}
        </div>
    </section>
	{%endif%}

    <section id="interests" class="row">
		{% if courses %}
        <div class="col-md-6 col-md-offset-3">
            <h3>Courses</h3>
            <ul>
				{% for course in courses %}
                <li><a href="">{{course}}</a></li>
				{% endfor %}

            </ul>
        </div>
		{%endif%}

		{% if majors %}
        <div class="col-md-6 col-md-offset-3">
            <h3>Major</h3>
            <ul>
				{% for major in majors %}
                <li><a href="">{{major}}</a></li>
				{% endfor %}
            </ul>
        </div>
		{%endif%}

		{% if languages %}
        <div class="col-md-6 col-md-offset-3">
            <h3>Languages</h3>
            <ul>
				{% for language in languages %}
                <li><a href="">{{language}}</a></li>
				{% endfor %}
            </ul>
        </div>
		{%endif%}

        <div class="col-sm-12">
            <a href="mailto:{{ buddy_record|email }}" class="action button primary">Send {{ buddy_record.full_name }} an email</a>
        </div>
    </section>

</article>

{% endblock %}
