{% extends "green/global_layout.html" %}
{% block content %}
<article id="top" class="simple">
    <div class="wrapper container">
        <div class="row">
            <h1 class="col-md-6 col-md-offset-3">400</h1>
            <p class="col-md-6 col-md-offset-3">
                Oops! Something went wrong. (Malformed Request)
            </p>
        </div>
    </div>
</article>

<article id="main-content" class="container">

    <section id="" class="row">
        <div class="col-md-6 col-md-offset-3">
			This is an error in our application and has been noted. If that keeps happening, please email us at <a href="mailto:info@buddyup.org">info@buddyup.org</a> and tell us how you got here. Thanks!
        </div>
    </section>

</article>
{% endblock %}