{% extends "layout.html" %} 
{% block forstyle %}
<style type="text/css">
	body 
	{
	background-image:url('{{ img('missing.jpg') }}');
	background-size:cover;
	}
</style>
{% endblock %}
{% block content %} 
<br>
<h1 style="color:red">404: Not Found! </h1>
<br/>
<br/>
<div style="margin: auto; width: 50%">
<iframe width="560" height="315" src="//www.youtube.com/embed/wNFMPhKIZXg?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
<br>
<br>
<h4>You might just be lost, but it's possible our website sent you to this page. If that keeps happening, please email us at <a href="help@getbuddyup.com">help@getbuddyup.com</a> and tell us how you got here. Thanks!</h4>
<br>
<br>
</div>


{% endblock %}
