<h1 style="color:red;"> Error 503: Service Unavailable! </h1>
<h3 style="color:brown;"> Sorry, our Buddy site is not available. We will be back soon!</h3>



{% extends "green/global_layout.html" %}
{% block content %}
<article id="top" class="simple">
    <div class="wrapper container">
        <div class="row">
            <h1 class="col-md-6 col-md-offset-3">503</h1>
            <p class="col-md-6 col-md-offset-3">
                Oops! Something went wrong. (Service Unavailable)
            </p>
        </div>
    </div>
</article>

<article id="main-content" class="container">

    <section id="" class="row">
        <div class="col-md-6 col-md-offset-3">
			Our site is currently not available. If we're not back up soon, please email us at <a href="mailto:help@getbuddyup.com">help@getbuddyup.com</a> and let us know. Thanks!
        </div>
    </section>

</article>
{% endblock %}