<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Buddy Up</title>
        <link href="/static/_assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="/static/_assets/css/site-map.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/static/_assets/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default container" role="navigation">
                <div class="wrapper">
                    <!-- Mobile menu -->
                    <div class="navbar-header" id="nav-mobile">
                        <button id="menu-button" class="navbar-toggle logo-wrapper" data-toggle="collapse" data-target="#nav-main">
                            <span class="logo">Logo</span>
                        </button>
                        <a href="/secondary/all-notifications.html" id="notifications-button" class="navbar-toggle notifications" data-toggle="collapse" data-target="#nav-notifications">
                            <span class="icon icon-notification"></span><span class="icon icon-badge">4</span>
                        </a>
                    </div>

                    <!-- Regular menu -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="nav-main">
                        <ul class="nav navbar-nav">
                            <li class="hidden-xs main-link logo-wrapper"><a href="/" class="logo">&nbsp;</a></li>
                            <li class="visible-xs-block main-link"><a href="/">Home</a></li>

							{% if logged_in %}

                            <li class="main-link"><a href="/buddy/search">Buddies</a></li>
                            <li class="main-link"><a href="/group">Groups</a></li>
                            <li class="main-link"><a href="#">Courses</a></li>
                            <li class="main-link"><a href="#">Tutors</a></li>
                            <li class="hidden-xs pull-right" id="profile-overflow">
                                <!-- Profile & Overflow dropdown -->
                                <a href="" data-toggle="dropdown" class="button">
                                    <span class="img" style="background-image: url('{{ photo_large(user_record) }}');">&nbsp;</span>
                                    <span class="name">{{ user_name }}</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
                                    <li role="presentation">
                                        <ul class="list overflow-list">
                                            <li class=""><a href="{{ profile(user_record) }}">My Profile</a></li>
											<li class=""><a href="{{ url_for('invite_list') }}">My Invitations</a></li>
											<li class=""><a href="{{ url_for('profile_edit') }}">Edit My Profile</a></li>
                                            <li class=""><a href="/secondary/my-events.html">My Events</a></li>
                                            <li class=""><a href="{{ url_for('help') }}">Help</a></li>
                                            <li class=""><a href="{{ url_for('logout') }}">Log out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- / Profile & Overflow dropdown -->
                            </li>
                            <!-- Reiterate overflow menu ONLY for mobile menu -->
                            <li class="visible-xs-block"><a href="{{ profile(user_record) }}">My Profile</a></li>
                            <li class="visible-xs-block"><a href="{{ url_for('invite_list') }}">My Invitations</a></li>
							<li class="visible-xs-block"><a href="{{ url_for('profile_edit') }}">Edit My Profile</a></li>
                            <li class="visible-xs-block"><a href="/secondary/my-events.html">My Events</a></li>
                            <li class="visible-xs-block"><a href="{{ url_for('help') }}">Help</a></li>
                            <li class="visible-xs-block"><a href="{{ url_for('logout') }}">Log out</a></li>
                            <!-- /Reiterate overflow menu for mobile menu -->

							{% endif %}
                        </ul>
                    </div> <!-- ./navbar-collapse -->
					
                </div><!-- /wrapper -->
            </nav>
        </header>
        
        <div id="main">
			{% block content %}
			{% endblock %}
        </div>

        <footer>
            <div class="container">
                <p class="row">
                    <span><a href="/secondary/privacy.html">Privacy Policy</a></spam>
                    &bull;
                    <span><a href="/secondary/terms.html">Terms</a></span>
                    &bull;
                    <span>&copy;BuddyUp, inc. 2014  &mdash; All rights reserved.</span>
                    &bull;
                    <span>Icons by <a href="http://www.entypo.com" target="_blank">Entypo</a></span>
                </p>
            </div>
        </footer>
    </body>
</html>
