{% extends "layout.html" %}
{% block forstyle %}
.span6  {width: 400px;}
.span3  {width: 200px;}
{% endblock %}
{% block content %}
<br>
<h1 style="text-align:center;">Start your question</h1>
<form style="margin-top:50px;margin-left:300px;">
	<font>Tittle: <input type="textbox" name="tittle" class="span3"></input></font>
	<br><br>
	<font>Type your question:</font>
	<br>
	<textarea class="span5" style="height: 150px;" name="comment" form="usrform" ></textarea>
	<br>
	<input type="submit" value="Submit" class="btn btn-success">
</form>
{% endblock %}
