{% extends "layout.html" %}
{% block extrahead %}
<link href="{{ css('jquery-ui') }}" rel="stylesheet">
<script src="{{ js('jquery-ui') }}"></script>

<script>
$(function() {
	$( "#datepicker" ).datepicker({
		changeMonth: true,
		changeYear: true
	});
});
</script>
<style type="text/css">
.span5	{width: 390px;}
</style>

{% endblock %}  

{% block content %}
<div class="span3"></div>
	<br>
	<div class="well span5">
		<h4> Please fill in the information below: </h4>
		<p><a href="{{ url_for('event_create') }}">Create a Study Group Instead</a></p>
		<form action="{{ url_for('event_search_results') }}">
		<label for="course"> Course </label>  
		<select style="width: 80px" name="course">
			{#- -1 indicates include all #}
			<option value="-1">All</option>
			{% for course_record in courses %}
				{% if selected(course_record) %}
					<option value="course_record.id" selected>
						{{ course_record.name }}
					</option>
				{% else %}
					<option value="course_record.id">
						{{ course_record.name }}
					</option>
				{% endif %}
			{% endfor %}
		</select> 
		<label for="datepicker"> Date</label>
			<input id="datepicker" type="text" class="span3" placeholder="mm/dd/yyyy" name="date" value="{{ date }}">
		<label>Starting time:</label>
		<label id="start_time" style="margin-left:10px;">
			<input type="radio" name="start_time" id="am" value="am" style="margin-top:-5px;"> AM
		</label>
		<label>
			<input type="radio" name="start_time" id="pm" value="pm" style="margin-top:-5px;"> PM
		</label>
		<label>
			<input type="radio" name="start_time" id="whynotboth" value="whynotboth" style="margin-top:-5px;" selected> All day
		</label>
		<input type="submit" value="Search" id ="btn-search" style="margin-top:20px;margin-left:270px;" class="btn btn-large btn-warning" >
		</form>
	</div>
{% endblock content %}
