<div class="navbar-header" id="nav-mobile">
    <button id="menu-button" class="navbar-toggle logo-wrapper" data-toggle="collapse" data-target="#nav-main">
        <span class="logo">Logo</span>
    </button>
    <a href="{{url_for('list_notifications')}}" id="notifications-button" class="navbar-toggle notifications" data-toggle="collapse" data-target="#nav-notifications">
        <span class="icon icon-notification"></span><span class="icon icon-badge">{% if notifications %}{{notifications|list|count}}{% endif %}</span>
    </a>
</div>
