{% set notifications = g.user.notifications %}
<li class="hidden-xs pull-right" id="notifications">
    <!-- Notifications dropdown. Appears after Profile because float:right -->
    <a href="" data-toggle="dropdown" class="button notifications"><span class="icon icon-notification"></span>
		<span class="icon icon-badge">{% if notifications %}{{notifications|list|count}}{% endif %}</span></a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
        <li role="presentation">

            
            <ul class="tablelist-group">
				
				{% for notification in notifications[:3] %}
                <li class="tablelist-group-row">
                    <a href="{{url_for('list_notifications')}}">
                        <ul class="tablelist">
                            <li class="icon"><div class="block circle" style="background-image:url('{{ photo_large(notification.sender) }}')">&nbsp;</div></li>
                            <li class="main">
                                <div class="title">{{notification.payload|safe|striptags}}</div>
                                <div class="subtitle">{{notification.time|date_long}}</div>
                            </li>
                        </ul>
                    </a>
                </li>
				{% endfor %}

                <li class="see-all">
                    <a href="{{url_for('list_notifications')}}">
                        <span class="icon icon-notification">&nbsp;</span>See all notifications
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- / Notifications dropdown -->
</li>
