{% set notifications = g.user.notifications %}
{% if notifications %}
<li class="hidden-xs pull-right" id="notifications">
    <!-- Notifications dropdown. Appears after Profile because float:right -->
    <a href="" data-toggle="dropdown" class="button notifications"><span class="icon icon-notification"></span>
		<span class="icon icon-badge">{{notifications|list|count}}</span></a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
        <li role="presentation">

            
            <ul class="tablelist-group">
				
				{% for notification in notifications %}
                <li class="tablelist-group-row">
                    <a href="./buddies/profile.html">
                        <ul class="tablelist">
                            <li class="icon"><div class="block circle" style="background-image:url('/static/_assets/images/people/15.jpg')">&nbsp;</div></li>
                            <li class="main">
                                <div class="title">{{notification.payload}}</div>
                                <div class="subtitle">5:32PM</div>
                            </li>
                        </ul>
                    </a>
                </li>
				{% endfor %}

                <!-- <li class="tablelist-group-row">
                    <a href="./courses/event-detail.html">
                        <ul class="tablelist">
                            <li class="icon"><div class="block square" style="background-image:url('/static/_assets/images/courses/stats101.jpg')">&nbsp;</div></li>
                            <li class="main">
                                <div class="title">You've been invited to an event!</div>
                                <div class="subtitle">5:32PM</div>
                            </li>
                        </ul>
                    </a>
                </li> -->
                <li class="see-all">
                    <a href="{{url_for('list_notifications')}}">
                        <span class="icon icon-notification">&nbsp;</span>See all notifications
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- / Notifications dropdown -->
</li>
{% endif %}