{% extends "green/global_layout.html" %}
{% block title %} BuddyUp Terms and Conditions {% endblock %}
{% block pagestyle %}
<link href="/static/_assets/css/registration.css" rel="stylesheet">
{% endblock %}
{% block nav %}
<nav class="navbar navbar-default container registration" role="navigation">
    <div class="wrapper">
        <img class="logo" src="/static/_assets/images/nav/logo-full@2x.png" height="60"/>
    </div><!-- /wrapper -->
</nav>
{% endblock %}

{% block content %}


<article id="top" class="simple container">
    <div class="wrapper row">
        <div class="col-md-6 col-md-offset-3" style="text-align: center">
            <h1>Privacy Policy</h1>
        </div>
    </div>
</article>

<article id="main-content" class="container">
	
    <section id="" class="row">
        <div class="col-md-6 col-md-offset-3">
		<p>
		The staff and administration at buddyup.org recognize that your privacy is very important. We've 
		developed this policy to ensure that your privacy is protected while using buddyup.org. The data 
		and information provided to buddyup.org will primarily be used in the search, selection and 
		evaluation process to arrange and manage activities among members. The individual data provided 
		by a member will be accessible in a limited way to other members through the search function. No
		individual email addresses will be provided to an outside party unless required by law. We 
		WILL NOT sell or rent any personally identifiable information about you to any third party 
		without your prior permission. Aggregate member data (i.e. we have n members between 25 and 35) 
		may be provided to potential investors, advertisers, or other third parties for business purposes.
		</p>	

		<br/>

		<p>
			Buddyup.org may collect the domain name and e-mail address (where possible) of visitors to our web pages, the e-mail addresses of those who post messages to our bulletin board, the e-mail addresses of those who communicate with us via e-mail, the e-mail addresses of those who make postings to our chat areas, aggregate information on what pages members access or visit, and information volunteered by the survey information and/or site registrations. (Many sites collect this information.)
		</p>

		<br/>

		<p>
			The information buddyup.org collects may be used to improve the content of our web pages, used to customize the content and/or layout of our pages for each individual member, used to notify members about updates to our web site or services, and used by us to contact our members. If you do not want to receive e-mail from us for marketing purposes, please let us know by sending email to us at the address listed on this page and telling us that you do not want to receive e-mail from buddyup.com.
		</p>

		<br/>

		<p>
			From time to time, buddyup.org may make our customer e-mail list available to other reputable organizations whose products or services we think members might find interesting. Again, if you do not want us to share your e-mail address with other companies or organizations, please let us know by sending email to us at help@buddyup.org or by clicking the appropriate box on the registration information page.
			If the privacy policy is changed or amended in the future, you will be notified at the current email address on file 14 days prior to any changes.
		</p>

		</div>
	</section>

</article>

{% endblock %}