{% extends "green/global_layout.html" %}
{% block title %}Register{% endblock %}
{% macro render_errors(field) %}
	{% if field.errors %}
		<ul class="errors">
		{% for error in field.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}
{% block pagestyle %}
<link href="/static/_assets/css/registration.css" rel="stylesheet">
{% endblock %}

{% block head %}{{super()}}
<script>
function check_form_validity() {
    if ($("#full_name").val() && 
        $("#email").val() && 
        $("#photo").val() && 
        $("input[name=term_condition]").prop('checked')) {
            $(".get_started_btn").removeClass("disabled");
            $(".get_started_btn").removeAttr("disabled");
    } else {
        $(".get_started_btn").addClass("disabled");
        $(".get_started_btn").attr("disabled", "disabled");
    }
}
function update_about_me_label() {
    if ($("#full_name").val()) {
        $("#about_you_label").html("Who is " + $("#full_name").val() + "?");
    }
}
$(function(){
    $("#languages-0").click();
    $("#full_name").focus();
    {% if ".edu" in g.user.email or "buddyup.org" in g.user.email %}
        $("#email").val('{{ g.user.email}}');
    {% else %}
        $("#email").focus();
    {% endif %}

    {% if g.user.name and not "@" in g.user.name %}
        $("#full_name").val('{{ g.user.name}}');
    {% else %}
        $("#full_name").focus();
    {% endif %}

    $("input,textarea").change(check_form_validity);
    $("input,textarea").change(update_about_me_label);
    $("#registration").submit(function(){
        $(".get_started_btn").html("Registering...").addClass("disabled");
    });
});    
</script>
{% endblock %}



{% block content %}
<article id="top" class="simple container">
    <div class="wrapper row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Tell your peers a little about yourself</h1>
			<p>
				Welcome to BuddyUp! You’re about ready to join a community of thousands of
				learners just like you.
            </p>
            <p>
                Before you can use all of BuddyUp you must first create a profile, so people can see you. Profiles with real pictures and bios tend to be more popular.
			</p>
        </div>
    </div>
</article>

<article id="main-content" class="container">
        {% if get_flashed_messages() %}
        <section id="" class="row">
            <div class="col-md-8 col-md-offset-2">
                {% include "flash.html" %}
            </div>
        </section>
        {% endif %}

        <form id="registration" action="{{ url_for('profile_create') }}" method="POST"
            enctype="multipart/form-data">
        {{ form.csrf_token }}

        <div id="" class="row">

            <div class="col-md-4 col-md-offset-1">
                <div class="form-group">
					<label for="" class="control-label">{{ form.full_name.label.text }}<span class="required_asterisk">*</span></label>{% if form.full_name.errors %}<div class="form-error">{% endif %}{{render_errors(form.full_name)}}
                    {{form.full_name(class_="form-control", placeholder="Sally Williams")}}
                    {% if form.full_name.errors %}</div>{% endif %}
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="form-group">
                    <label for="" class="control-label">{{ form.email.label.text }}<span class="required_asterisk">*</span></label>{% if form.email.errors %}<div class="form-error">{% endif %}{{render_errors(form.email)}}
                    {{form.email(class_="form-control", placeholder="swilliams345@university.edu")}}
                    {% if form.email.errors %}</div>{% endif %}
                </div>
            </div>
        </div>
        <div id="" class="row">
            <div class="col-md-4 col-md-offset-1">

                <div class="form-group">
                <label for="" class="control-label">{{ form.photo.label.text }}<span class="required_asterisk">*</span></label>{% if form.photo.errors %}<div class="form-error">{% endif %}{{ render_errors(form.photo) }}
                {{ form.photo }}
                {% if form.photo.errors %}</div>{% endif %}
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="multipicker form-group">
                    <label for="" class="control-label">What languages do you speak?</label>
                    {{render_errors(form.languages)}}
                    <div class="multipicker-row">
                        {{form.languages(class_="form-control")}}
                    </div>
                </div>
            </div>
        </div>
        <div id="" class="row">
            <div class="col-md-4 col-md-offset-1">
                <div class="form-group">
                    <label for="" class="control-label" id="about_you_label">About you</label>
                    {{render_errors(form.bio)}}
                    {{form.bio(class_="form-control", rows=5, placeholder="Tell other students about yourself, your interests, and what makes you you!")}}
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="form-group">
                    <label for="" class="control-label">Where are you most often?</label>
                    {{render_errors(form.location)}}
                    {{form.location(class_="form-control")}}
                </div>
            </div>
        </div>
        <div id="" class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="multipicker form-group">
                    <label for="" class="control-label">What's your major?</label>
                    {{render_errors(form.majors)}}
                    <div class="multipicker-row">
                        {{form.majors(class_="form-control")}}
                    </div>
                </div>
            </div>
        </div>



    <!--             <div class="form-group">
                    <label for="" class="control-label">What are you interested in?</label>
                    TODO + ERRORS
                </div> 

                <div class="form-group">
					<label for="facebook" class="control-label">Facebook</label>
                    {{render_errors(form.facebook)}}
					{{form.facebook(class_="form-control", placeholder="http://facebook.com/yournamehere")}}
				</div>

                <div class="form-group">
					<label for="twitter" class="control-label">Twitter</label>
                    {{render_errors(form.twitter)}}
					{{form.twitter(class_="form-control", placeholder="@yourhandle")}}
				</div>

                <div class="form-group">
					<label for="linkedin" class="control-label">LinkedIn</label>
                    {{render_errors(form.linkedin)}}
					{{form.linkedin(class_="form-control")}}
				</div>

-->
        <div id="" class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <label class="control-label">Terms &amp; Conditions <span class="required_asterisk">*</span></label>
<label for="terms_and_conditions_checkbox" class="checkbox-inline"><input type="checkbox" id="terms_and_conditions_checkbox" name="term_condition"/> I have read and agree to the <a href="/terms" target="_blank">Terms &amp; Conditions</a>.
                </div>
            </div>
        </div>

        <div id="submit" class="row">
            <div class="col-md-10 col-md-offset-1">
                <button type="submit" disabled class="button primary action disabled get_started_btn" >Get Started!</button>
            </div>
        </div>

    </form>


</article>

{% endblock %}

{% block bottom_js %}
<script>
Intercom('trackEvent', 'authenticated');
</script>
{% endblock %}