{% extends "green/global_layout.html" %}
{% block title %} BuddyUp Terms and Conditions {% endblock %}
{% block pagestyle %}
<link href="/static/_assets/css/registration.css" rel="stylesheet">
{% endblock %}
{% block nav %}
<nav class="navbar navbar-default container registration" role="navigation">
    <div class="wrapper">
        <img class="logo" src="/static/_assets/images/nav/logo-full@2x.png" height="60"/>
    </div><!-- /wrapper -->
</nav>
{% endblock %}

{% block content %}


<article id="top" class="simple container">
    <div class="wrapper row">
        <div class="col-md-6 col-md-offset-3" style="text-align: center">
            <h1>Terms of Use</h1>
			<p>
Before you click on the accept button on the registration screen, carefully read the following Agreement between you and BUDDYUP INC., doing business as "BuddyUp.org" which sets forth terms for the use of the Services and BuddyUp.org website (referred to sometimes as the "Website").
			</p>
        </div>
    </div>
</article>

<article id="main-content" class="container">
	
    <section id="" class="row">
        <div class="col-md-6 col-md-offset-3">

<h4>ELIGIBILITY</h4>
<p>
	A user must be 18 years of age or older to register and use the Website. To register, a user must be a legal resident of the United States and must be an individual, not a corporation or other business entity. Membership is void where otherwise prohibited by law. Your use of BuddyUp.org must be in accordance and in a manner consistent with all applicable state and federal laws. Once registered, your use of the Website means that you have agreed to these term and conditions and thus become a Member of BuddyUp.org. Membership is non-transferable and may not be assigned or used by anyone except the registered user.
</p>

<br/>

<h4>REGISTRATION INFORMATION</h4>
<p>
	A user agrees to provide true, accurate and complete registration information and to maintain and update the information as applicable. If any of the information is untrue, inaccurate, not current, incomplete or incorrect, BuddyUp.org has the right to terminate a Member's use of the Website. The services provided by BuddyUp.org depend on an operative e-mail address. If the e-mail address provided is inoperative or is repeatedly rejected, BuddyUp.org may suspend or even terminate the membership without notice.
</p>

<p>
	BuddyUp.org provides a valuable service to its members. In order to continue to provide these services for free or at a minimal cost, BuddyUp.org depends on members to repeatedly use the site to search for buddies as well as to accept and send invitations. For this reason and for the Member's own convenience and security, users and Members can not include any contact information in their profiles including: 1. telephone numbers, 2. street addresses, 3. last names. 
</p>

<br/>

<h4>NON-COMMERCIAL USE</h4>
<p>
	The BuddyUp.org services provided through its Website (the "Services") are for the non-commercial and personal use of its Members and may not be used in connection with any commercial endeavors. Non-commercial means that you cannot charge other people to use the Services, nor may you charge them for work you do on their behalf if it involves use of the Services. You may only use the Services or Website for the purposes described in the Website. Any use of the Services or Website not intended by BuddyUp.org shall be prohibited, and BuddyUp.org shall be entitled to equitable relief to prevent the same.
</p>

<br/>

<h4>ACCEPTABLE USE AND CONTENT</h4>
<p>
	A Member is solely responsible for the content published, transmitted, or displayed (hereinafter "a Post" or "Posted") on the Website or in a message to another Member. BuddyUp.org has the right but not the obligation to delete any Posts including but not limited to content, messages, invitations, photos, or profiles that violate this Agreement, might threaten the safety of other members, or which might be offensive or illegal. Opinions, advice, statements, offers, or other information made available through the Website or Services by Members are those of their respective authors and should not necessarily be relied upon. Such authors are solely responsible for their content.
</p>

<br/>

<h4>OWNERSHIP AND PROPRIETARY RIGHTS</h4>
<p>
	The Services and Website (the "BuddyUp Property") are all owned by BuddyUp.org and its structure, organization and code are the valuable property of BuddyUp.org and are protected by United States Copyright and other laws, international treaty provisions and applicable laws, including intellectual property, of the country in which it is being used. BuddyUp and BuddyUp.org are service marks of BUDDYUP INC. Except as licensed in this Agreement, BuddyUp.org retains all right, title and interest in and to the BuddyUp Property worldwide including but not limited to any images, photographs, animations, video, audio, music, text and "applets" incorporated into the BuddyUp Property and any copies of the BuddyUp Property that are owned by BuddyUp.org, or its licensees or suppliers. By consenting to these Terms and Conditions the user acknowledges that BuddyUp Inc may use all user submitted pictures and content for marketing or demonstration purposes. 
</p>

<br/>

<h4>TERM AND TERMINATION</h4>
<p>
	This Agreement is effective for the period that the services are used by you. You may terminate this Agreement at any time and without cause by emailing help@buddyup.org with a clear request to have your account deleted. Upon receiving such an email your account will be deleted within 7 business days. After such action, you will be unable to use the BuddyUp.org Website or Services and may be unable to become a Member in the future. BuddyUp.org shall not be obligated to refund any monies that may have been paid. Your rights under this Agreement will terminate automatically without notice from BuddyUp.org if you fail to comply with any term(s) of this Agreement. BuddyUp.org reserves the right to terminate your access to the Website or Services for any reason and at any time upon notice to you at the e-mail address provided in your registration. 
</p>

<br/>

<h4>MEMBER DISPUTES</h4>
<p>
	All Members are responsible for their interactions with other Members. BuddyUp.org reserves the right, but has no obligation, to monitor disputes between and among Members.
</p>

<br/>

<h4>LIMITATION ON LIABILITY</h4>
<p>
	BuddyUp.org shall not be liable for damage, injury, nonperformance, delay, errors or other loss caused by any event reasonably beyond BuddyUp.org's control including, but not limited to acts of God, war, hostilities, revolution, civil disorder, national emergency, strikes, lockouts, unavailability of supplies, epidemics, fire, flood, earthquake, force of nature, explosion, embargo or any law, proclamation, regulation, ordinance or other act or order of any court, government or governmental agency. BuddyUp.org's liability to a Member for any cause whatsoever, and regardless of the form of the action, will be limited to the amount paid, if any, by the Member for the services during the term of membership. In addition, BuddyUp.org disclaims all liability, regardless of the form of action, for acts or omissions of other Members or users of the Website and Services.
</p>

<br/>

<h4>PRIVACY</h4>
<p>
	Use of the Website and Services are also governed by our Privacy Policy. You agree that you have had a chance to review our Privacy Policy.
</p>

<br/>

<h4>RESPONSIBLE DISCLOSURE OF PERSONAL INFORMATION</h4>
<p>
	A Member is entirely responsible for maintaining the confidentiality of the Member's password and registration information. Furthermore, a Member is entirely responsible for any and all activities which occur under the Member's account and agrees to indemnify, defend, and hold harmless BuddyUp.org for any liability or expenses arising from such use or misuse. It is possible that other users, including unauthorized users or "hackers" may obtain information about you due to your use of the service and that the recipient of such information may use it to harass or injure you. A user must consider this when selecting the type of information to disclose either in the registration process or in the public postings on the Website. BuddyUp.org is not responsible for the use of any personal information that a user chooses to publicly disclose on the Website or in using the Service.
</p>

<br/>

<h4>INFORMATION POLICY</h4>

<p>
Buddyup.org collects information on activities contained within the BuddyUp site including when you login, the duration of time spent on the different pages contained within BuddyUp, who you send buddy requests to and when they are accepted, when you post events and who joins them, and when you send and receive messages.
</p>

<p>
BuddyUp collects this information for the purpose of improving the site for users through ongoing research within the platform. This research will be used to troubleshoot areas in need of improvement, to develop a better understanding of the user experience of the site as well as to create new features as they pertain to the needs of the users. This information will not be shared outside of BuddyUp unless all identifying information on individuals has been removed or we have received your expressed consent.
</p>

<br/>


<h4>DISCLAIMER OF WARRANTY</h4>
<p>
	BuddyUp.org will of course try to provide the best service to its members that it can given the constraints placed on it. However, BuddyUp.org does not warrant that your use of the Website or Services will be secure, uninterrupted, error free, or that it will meet your requirements.
</p>

<br/>

<h4>ADVERTISERS</h4>
<p>
	A Member may use the services or purchase the products of an advertiser featured on BuddyUp.org. Any such use or purchase is solely between the Member and the advertiser. Placement of an advertisement on the Website does not constitute an endorsement of the advertiser.
</p>

<br/>

<h4>MODIFICATIONS TO TERMS OF SERVICE</h4>
<p>
	The terms and conditions of this Agreement are subject to change by BuddyUp.org at any time, effective upon notice to you as a Member via the e-mail address provided in your registration. In addition, BuddyUp.org may broadcast the notice of changes on the home pages or via the internal messaging provided on BuddyUp.org. Any of these methods constitute effective notice to you. If you can not abide by the revised terms and conditions, you must discontinue the use of the Website and Services and delete your profile.
</p>

<br/>

<h4>ENTIRE AGREEMENT</h4>
<p>
	This Agreement constitutes the entire agreement between the parties with respect to the BuddyUp Property and supersedes all prior or contemporaneous understandings regarding this subject matter.
</p>

<br/>

<h4>CUSTOMER CONTACT INFORMATION</h4>
<p>
	To request a written copy of this Agreement or to inquire about terms or provisions of this Agreement, please contact BUDDYUP INC., 619 SW 11th Ave, Portland OR or by electronic mail at info@BuddyUp.org.
</p>

		</div>
	</section>

</article>

{% endblock %}