{% extends "layout.html" %}
  
{% block content %}
<h1 style="text-align:center"> Buddies Page </h1>
<br>

    
	<div class="well span3">
		<form class="navbar-search pull-left">
		<input type="text" class="search-query" placeholder="Search Friends">
		</form>
		<br>
		<br>
		<h5 style="text-align:center"> Your Friend List</h5>
	<ul>

	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;" href="{{ url_for('logo') }}"> 
			User 1
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;" href="{{ url_for('logo') }}"> 
			User 2
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;" href="{{ url_for('logo') }}"> 
			User 3
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;" href="{{ url_for('logo') }}"> 
			User 4
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;" href="{{ url_for('logo') }}"> 
			User 5
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;"> 
			User 6
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;"> 
			User 7
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;"> 
			User 8
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;"> 
			User 9
		</a>

	</div>
	</li>
	<li>
	<div id="container" style="white-space:nowrap;margin-bottom:2px;">

	    <div id="image" style="display:inline;">
	        <img src="../static/img/index.jpg" width="30" height="22"/>
	    </div>

	    <a id="texts" style="display:inline; white-space:nowrap;"> 
			User 10
		</a>

	</div>
	</li>
</ul>
</div>

 	<div class="well span6">
	    <br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
	</div>

 {% endblock %}