<!DOCTYPE html>
<html>
<head>
<title> BuddyUp </title>
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">	
<script src="{{ url_for('static', filename = 'js/bootstrap.js') }}" ></script>
<script src="{{ url_for('static', filename = 'js/jquery.js') }}" ></script>
<script src="{{ url_for('static', filename = 'js/bootstrap-button.js') }}" ></script>
<script src="{{ url_for('static', filename = 'js/bootstrap-dropdown.js') }}" ></script>


<style>
color{color:red;}
#a{width:90%;}
.dropdown-menu {
 	background-color:#4169E1;
}
</style>
</head>
<body>
	

<h2 style="text-align:center;"> Welcome to BuddyUp! </h2>
<div class="container">
<div class="span2"></div>
		<form class="well span8">  
		  <h4> Please fill in</h4>
		  <label> Your Name <color> (*Required) </color> </label>  
		  <input type="text" class="span2" placeholder="First Name">  
		  <input type="text" class="span2" placeholder="Last Name">  
		  <label> Your Course <color> (*Required) </color></label>
		  <select>
		  <option>STAT 1xx</option>
		  <option>STAT 2xx</option>
		  <option>STAT 3xx</option>
	  	  </select>
		  <label> Location</label>
		  <select>
		  <option>Campus</option>  
		  <option>SW Portland</option>
		  <option>SE Portland</option>
		  <option>NW Portland</option>
		  <option>NE Portland</option>
		  <option>Beaverton</option>
		  <option>Gresham</option>
		  <option>Hillsborro</option>
	  	  </select>
		  
	  	  </select>
		  
		  <label> Time for Study Group </label>
		  <div class="btn-group">
		    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		      Monday
		    </button>
		    <ul class="dropdown-menu">
		      <li><a href="#">AM</a></li>
		      <li><a href="#">PM</a></li>
		      <li><a href="#">All day</a></li>
		    </ul>
		</div>
		 <div class="btn-group">
  		    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
  		      Tuesday</span>
  		    </button>
  		    <ul class="dropdown-menu">
  		      <li><a href="#">AM</a></li>
  		      <li><a href="#">PM</a></li>
  		      <li><a href="#">All day</a></li>
  		    </ul>
		  </div>
 		 <div class="btn-group">
   		    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
   		      Wednesday</span>
   		    </button>
   		    <ul class="dropdown-menu">
   		      <li><a href="#">AM</a></li>
   		      <li><a href="#">PM</a></li>
   		      <li><a href="#">All day</a></li>
   		    </ul>
 		  </div>
 		 <div class="btn-group">
   		    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
   		      Thursday</span>
   		    </button>
   		    <ul class="dropdown-menu">
   		      <li><a href="#">AM</a></li>
   		      <li><a href="#">PM</a></li>
   		      <li><a href="#">All day</a></li>
   		    </ul>
 		  </div>
 		 <div class="btn-group">
   		    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
   		      Friday</span>
   		    </button>
   		    <ul class="dropdown-menu">
   		      <li><a href="#">AM</a></li>
   		      <li><a href="#">PM</a></li>
   		      <li><a href="#">All day</a></li>
   		    </ul>
 		  </div>
 		 <div class="btn-group">
   		    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
   		      Saturday</span>
   		    </button>
   		    <ul class="dropdown-menu">
   		      <li><a href="#">AM</a></li>
   		      <li><a href="#">PM</a></li>
   		      <li><a href="#">All day</a></li>
   		    </ul>
 		  </div>
 		 <div class="btn-group">
   		    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
   		     Sunday</span>
   		    </button>
   		    <ul class="dropdown-menu">
   		      <li><a href="#">AM</a></li>
   		      <li><a href="#">PM</a></li>
   		      <li><a href="#">All day</a></li>
   		    </ul>
 		  </div>
		  <div class="btn btn-inverse" style="margin-left:470px;margin-top: 20px;"> Submit</div>
		</form>  
</div>

    


</body>
</html>
