<section id="events" class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="group-heading">
            <h3><a href="{{url_for('course_events', id=course.id)}}"><span class="icon icon-event">&nbsp;</span>Study Groups</a></h3>
            <a href="{{url_for('course_events', id=course.id)}}" class="right">See all {{course.events|count}} events</a>
        </div>
        <div class="" id="calendar-wrapper">
            <div class="row">
                <div class="col-md-12 calender-heading">
                    <a class="button" data-calendar-nav="prev"><span class="icon icon-prev"></span></a>
                    <h4></h4>
                    <a class="button" data-calendar-nav="next"><span class="icon icon-next"></span></a>
                    <a href="{{url_for('new_event', course_id=course.id)}}" class="action button small primary"><span class="icon icon-event-add">&nbsp;</span>New Study Group</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
					{% include "courses/panels/calendar.html" %}
                </div>
                <div class="col-md-3">
                    <h4>Upcoming</h4>
                    <ul class="tablelist-group">

						{% for event in events %}
                        <li class="tablelist-group-row">
                            <ul class="tablelist">
                                <li class="main">
                                    <div class="title"><a href="{{url_for('course_event', course_id=course.id, event_id=event.id)}}">{{event.name}}</a></div>
                                    <div class="subtitle"><span class="icon icon-course"> {{course.name}}</span>&bull;<span class="icon icon-location"> {{event.location}}</span></div>
                                </li>
                            </ul>
                        </li>
						{% endfor %}

                        <li class="tablelist-group-row">
                            <ul class="tablelist">
                                <li class="main">
                                    <div class="title"><a href="{{url_for('course_events', id=course.id)}}">See all study groups</a></div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
