<section id="notes" class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="group-heading">
            <h3><span class="icon icon-note">&nbsp;</span>Notes</h3>
        </div>
        <ul class="tablelist-group">
            <li class="tablelist-group-row">
                <ul class="tablelist">
                    <li class="icon">
                        <a href="#"><span class="icon icon-file">&nbsp;</span></a>
                    </li>
                    <li class="main">
                        <span class="title"><a href="#">Stats 101 - Notes - Wed June 1.pdf</a></span>
                        <span class="subtitle">By <a href="./profile.html">Brian Forrester</a></span>
                    </li>
                    <li class="other">6/01/2014</li>
                    <li class="other">2 views</li>
                    <li class="action"><a href="#">Download</a></li>
                </ul>
            </li>
            <li class="tablelist-group-row">
                <ul class="tablelist">
                    <li class="icon">
                        <a href="#"><span class="icon icon-file">&nbsp;</span></a>
                    </li>
                    <li class="main">
                        <span class="title"><a href="#">Stats 101 - Notes - Wed June 1.pdf</a></span>
                        <span class="subtitle">By <a href="./profile.html">Brian Forrester</a></span>
                    </li>
                    <li class="other">6/01/2014</li>
                    <li class="other">2 views</li>
                    <li class="action"><a href="#">Download</a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>
