<section id="tutors" class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="group-heading">
            <h3><span class="icon icon-tutor">&nbsp;</span>Tutors</h3>
        </div>
        <ul class="{% if tutors %}block-list{% endif %}">
			{% for tutor in tutors %}
            <li class="">
                <a href="{{profile(tutor)}}"><div class="block" style="background-image:url('{{ photo_large(tutor) }}')">&nbsp;</div></a>
            </li>
			{% else %}
            <li class="">
                No tutors associated with this course yet. <a href="/tutors">Apply to be a tutor</a>
            </li>
			{% endfor %}
        </ul>
    </div>
</section>
