<section id="tutors" class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="group-heading">
            <h3><a href="./followers.html"><span class="icon icon-tutor">&nbsp;</span>Tutors</a></h3>
        </div>
        <ul class="block-list">
            <li class="">
                <a href="#"><div class="block" style="background-image:url('../_assets/images/people/13.jpg')">&nbsp;</div></a>
            </li>
            <li class="">
                <a href="#"><div class="block" style="background-image:url('../_assets/images/people/14.jpg')">&nbsp;</div></a>
            </li>
            <li class="">
                <a href="#"><div class="block" style="background-image:url('../_assets/images/people/15.jpg')">&nbsp;</div></a>
            </li>
        </ul>
    </div>
</section>
