{% extends "green/global_layout.html" %}
{% block title %} Events for {{course.name}} {% endblock %}
{% block pagestyle %}
<link href="/static/_assets/plugins/calendar/calendar.css" rel="stylesheet">
<link href="/static/_assets/css/course-events.css" rel="stylesheet">
{% endblock %}
{% block content %}

<article id="top" class="detail">
    <div class="wrapper container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <a href="{{url_for('course_view', id=course.id)}}"><div class="thumbnail" style="background-image:url('/static/_assets/images/courses/math_chalkboard2.jpg')">&nbsp;</div></a>
                <h1>Events</h1>
                <div class="subtitle"><span>{{course.instructor}}</span>&bull;<span><a href="{{url_for('course_view', id=course.id)}}">{{course.name}}</a></span></div>
                <a href="{{url_for('new_event', course_id=course.id)}}" class="action button small primary"><span class="icon icon-event-add">&nbsp;</span>New Event</a>
            </div>
        </div>
    </div>
</article>

<article id="main-content" class="container">

    <section id="events" class="row">
            <div class="col-md-10 col-md-offset-1">
            <div class="group-heading">
                <h3><span class="icon icon-event">&nbsp;</span>Calendar</h3>
            </div>
            <div class="" id="calendar-wrapper">
                <div class="calender-heading">
                    <a class="button" data-calendar-nav="prev"><span class="icon icon-prev"></span></a>
                    <h4></h4>
                    <a class="button" data-calendar-nav="next"><span class="icon icon-next"></span></a>
                    <a href="{{url_for('new_event', course_id=course.id)}}" class="action button small primary"><span class="icon icon-event-add">&nbsp;</span>New Event</a>
                </div>
            </div>
			{% include "courses/panels/calendar.html" %}
        </div>
    </section>
    

    <section id="notes" class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="group-heading">
                <h3><span class="icon icon-note">&nbsp;</span>All Events</h3>
            </div>
            <ul class="tablelist-group">
                    <li class="tablelist-group-row">
                        <ul class="tablelist">
                            <li class="date"><span class="date">June 31</span></li>
                            <li class="main">
                                <div class="title"><a href="./event-detail.html">Midterms Study Sesh</a></div>
                                <div class="subtitle"> <span class="time">6PM-8PM</span>&bull;<span class="icon icon-course"> Stat 101</span>&bull;<span class="icon icon-location"> Pioneer Square</span></div>
                            </li>
                            <li class="action"><a href="#">Details</a></li>
                        </ul>
                    </li>
                    <li class="tablelist-group-row">
                        <ul class="tablelist">
                            <li class="date"><span class="date">June 31</span></li>
                            <li class="main">
                                <div class="title"><a href="./event-detail.html">Midterms Study Sesh</a></div>
                                <div class="subtitle"> <span class="time">6PM-8PM</span>&bull;<span class="icon icon-course"> Stat 101</span>&bull;<span class="icon icon-location"> Pioneer Square</span></div>
                            </li>
                            <li class="action"><a href="#">Details</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
    </section>

</article>
{% endblock %}
