{% extends "green/global_layout.html" %}
{% block title %} Followers of {{course.name}} {% endblock %}
{% block pagestyle %}
<link href="/static/_assets/css/buddies.css" rel="stylesheet">
{% endblock %}
{% block content %}
<article id="top" class="filter">
    <div class="wrapper container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <a href="./detail.html"><div class="thumbnail" style="background-image:url('../_assets/images/courses/stats101.jpg')">&nbsp;</div></a>
                <h1>Followers</h1>
                <div class="subtitle"><span>{{course.instructor}}</span>&bull;<span><a href="{{url_for('course_view', id=course.id)}}">{{course.name}}</a></span></div>
                <a href="" class="action button small primary"><span class="icon icon-course-add">&nbsp;</span>Follow Course</a>
            </div>
            <div class="col-md-12 col-md-offset-0">
                <ul class="hidden-xs filter">
                    <li><a href="#">Buddies</a></li>
                    <li><a href="#" class="selected">Everyone</a></li>
                    <li><a href="#">Major</a></li>
                    <li><a href="#">Language</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Advanced Search</a></li>
                </ul>
                <div class="visible-xs-block dropdown">
                    <a data-toggle="dropdown" class="button dropdown" href="#">Everyone</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="">Buddies</a></li>
                        <li><a href="" class="selected">Everyone</a></li>
                        <li><a href="">Major</a></li>
                        <li><a href="">Language</a></li>
                        <li><a href="">Location</a></li>
                        <li><a href="">Advanced Search</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>

<article id="main-content" class="container">
    <section class="row">
        <div class="col-md-12 col-md-offset-0">
            <ul class="block-grid">
                <li class="block" style="background-image:url('../_assets/images/people/1.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block followed" style="background-image:url('../_assets/images/people/2.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small inactive"><span class="icon icon-followed">&nbsp;</span>Following</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/3.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/4.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/5.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/6.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/7.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/8.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block followed" style="background-image:url('../_assets/images/people/9.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small inactive"><span class="icon icon-followed">&nbsp;</span>Following</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/10.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/11.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/12.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block followed" style="background-image:url('../_assets/images/people/13.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small inactive"><span class="icon icon-followed">&nbsp;</span>Following</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/14.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/15.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block followed" style="background-image:url('../_assets/images/people/16.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small inactive"><span class="icon icon-followed">&nbsp;</span>Following</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/17.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/18.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/19.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/20.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/21.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/22.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block followed" style="background-image:url('../_assets/images/people/23.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small inactive"><span class="icon icon-followed">&nbsp;</span>Following</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/24.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/1.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/2.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
                </li>
                <li class="block followed" style="background-image:url('../_assets/images/people/3.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small inactive"><span class="icon icon-followed">&nbsp;</span>Following</span></span></div></div></a>
                </li>
                <li class="block" style="background-image:url('../_assets/images/people/4.jpg')">
                    <a href="./profile.html">&nbsp;<div class="info hide"><div class="wrapper"><span class="title">Audrey Books</span><span class="subtitle"><span class="icon icon-course">&nbsp;</span>Stats 101</span><span class="button small"><span class="icon icon-person-add">&nbsp;</span>Follow</span></span></div></div></a>
            </ul>
        </div>
    </section>
</article>
{% endblock %}