{% extends "admin/adminlayout.html" %}
{% from "lib.html" import flashed %}

{% block title %} Dashboard {% endblock %}
  
{% block content %}
<br>
<h1>Dashboard</h1>
{% for msg in get_flashed_messages() %}
	{% call flashed() %}
		{{ msg }}
	{% endcall %}
{% endfor %}
<div class="well span2" style="width: 320px">
	<h3>Current Website Statistic</h3>
	<p>Number of total visits: {{ total_visits }}</p>
	<p>Number of unique visitors: {{ unique_visits }}</p>
	<p>Number of groups: {{ group_count }}</p>
	<p>Number of invites sent: {{ total_invites }}</p>
	<p>Number of registered users: {{ total_users }}</p>
</div>
	
<div class="well span3">
	<h3>Enter a new course</h3>
	<form action="{{ url_for('admin_add_course') }}" method="POST">
		Course name: <input type="text" name="name"></input><br>
		By Professor: <input type="text" name="instructor"></input><br>
		<input type="submit" value="Add this new course"></input>
	</form>
</div>

<div class="well span4">
	<h3>Current user list courses</h3>
	<form action="{{ url_for('admin_delete_course') }}" method="POST">
		<select size=15 width="320" style="width: 320px" name="listcourse" multiple>
			{% for course in courses %}
			<option value="{{ course.id }}">{{ course.name }} by {{ course.instructor }}</option>
			{% endfor %}
		</select>
		<br><input type="submit" value="Remove courses"> 
	</form>
</div>

<div class="well span3">
	<h3>Enter a new location</h3>
	<form action="{{ url_for('admin_add_location') }}" method="POST">
		New location: <input type="text" name="location"></input><br>
		<input type="submit" value="Add this new location"></input>
	</form>
</div>

<div class="well span4">
	<h3>Current list of location</h3>
	<form action="{{ url_for('admin_delete_location') }}" method="POST">
		<select size=15 width="320" style="width: 320px" name="listcourse" multiple>
			{% for location in locations %}
			<option value="{{ location.id }}">{{ location.name }}</option>
			{% endfor %}
		</select>
		<br><input type="submit" value="Remove locations"> 
	</form>
</div>

{% endblock %}
