<button class="flagCommentButton" data-toggle="modal" data-target="#flagComment">
  <i class="fa-flag fa"></i>
</button>
<div class="modal fade" id="flagComment" tabindex="-1" role="dialog" aria-labelledby="flagCommentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="flagCommentLabel">Report this content</h4>
      </div>
      <div class="modal-body">
        <div class="well"><strong><icon class="fa fa-warning"></icon> If you feel threatened, call 911 or campus security.</strong></div>
        <div class="well">If you would like to report this comment to BuddyUp as inappropriate, click on the button below to sumbit a support request.<Br/><Br/><Br/>
          <div class="text-center"><button href="#" onclick="Intercom('show');" type="button" class="btn btn-primary">Open Support</button></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>