{% extends "layout.html" %}
{% block forstyle %}

.right{ position: fixed;
    top: 50px;
    right: 1em;;} 
	#wrapper {
	    margin-left:auto;
	    margin-right:auto;
	    width:900px;
	}
{% endblock %} 

{% block content %}
<br>
<h2 style="text-align:center;"> My Dashboard </h2>
<br>
<div id="wrapper">
<div style="float: left; width: 600px;" id='calendar'>
	<a href="{{ url_for('calendar') }}"> View Calendar in bigger size. </a>
	
</div>

<div style="float: left;margin-left:120px;width:100px;">
	<ul class="thumbnails">
  	  <li class="span3">
		  <h5> Find Group </h5>
    	  <a href="{{ url_for('findgroup') }}" class="thumbnail">
      		<img data-src="holder.js/300x200" style="width:180px;height:140px" src="../static/img/search.jpg">
    	   </a>
	    </li>
  	  <li class="span3">
		  <h5> Find Buddy </h5>
    	  <a href="{{ url_for('buddies') }}" class="thumbnail">
      		<img data-src="holder.js/300x200" style="width:180px;height:140px" src="../static/img/user_search.png">
    	   </a>
	    </li>
</div>



{% endblock %}

{% block extrascript %}
<strong><script src="{{ url_for('static', filename = 'js/jquery-1.9.1.min.js') }}" ></script></strong>
<strong><script src="{{ url_for('static', filename = 'js/jquery-ui-1.10.2.custom.min.js') }}" ></script></strong>
<strong><script src="{{ url_for('static', filename = 'js/fullcalendar.min.js') }}" ></script></strong>

<script>
	$(document).ready(function() {
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
             	
                function event(title,start,id)
		{
			this.id = id;
			this.title=title;
			this.start=start;
		}
	 	thong = new event('event1','2013-07-21',2);
                
                $('#calendar').fullCalendar({
                        header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			editable: false,
			events: [
				thong,
				{
   					 id     : 1,
					 title  : 'event2',
            				 start  : '2013-07-05',
            				 end    : '2013-07-07'
				}
			]
		});
                thong.title = 'something';
                //$('#calendar').fullCalendar('removeEvents' ,2)
                $('#calendar').fullCalendar('updateEvent', thong);  
	
	});
</script>
{% endblock %}
