{% extends "green/global_layout.html" %}
{% block head %}{{super()}}
<!-- Le styles -->
<link href="{{ css('bootstrap') }}" rel="stylesheet" type="text/css">
<link href="{{ css('bootstrap-responsive') }}" rel="stylesheet" type="text/css">
<style type="text/css">
	.logo_image {
		margin: 60px 0;
	}
	footer {
		display: none;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
</style>
{% endblock %}
{% block body %}
<div class="container signup">
	<div class="logo_image">
		<center><img src='/static/_assets/images/buddyup_logo.png'/></center>
	</div>
	
	<div class="text-center">
		<a class="button primary" href="{{ login_url }}">Sign into BuddyUp</a>
	</div>
</div>
{% endblock %}