<div class="block large" style="background-image:url('{{ photo_large(classmate) }}')">
    <a href="{{profile(classmate)}}"><img src="/static/_assets/images/clear.png" /><div class="info hide"><div class="wrapper">

		<span class="title">{{ classmate.full_name }}</span>
		<span class="subtitle">
			<span class="icon icon-course">&nbsp;</span>
			{% if classmate.courses %}
				{{ classmate.courses[0] }}
			{% else %}
				Not enrolled
			{% endif %}
		</span>
		{% if not classmate.is_buddy %}
			{% if classmate.invited %}
			<span class="button small">
				Invitation Sent
			</span>
			{% else %}
			<span class="button small" onclick="Intercom('trackEvent', 'invite-sent');$.post('{{url_for('invite_send', user_name=classmate.user_name)}}', function(){ location.reload() });">
				<span class="icon icon-person-add">&nbsp;</span>
				Connect
			</span>
			{% endif %}
		{% endif %}

	</div></div></a>
</div>
