<div class="block" style="background-image:url('{{ photo_large(classmate) }}')">
    <a href="{{profile(classmate)}}"><img src="/static/_assets/images/clear.png" /><div class="info hide"><div class="wrapper">
{#
		<span class="title">{{ classmate.full_name }}</span>
		<span class="subtitle">
			<span class="icon icon-course">&nbsp;</span>
			{% if classmate.courses %}
				{{ classmate.courses[0] }}
			{% else %}
				Not enrolled
			{% endif %}
		</span>
		{% if not classmate.is_buddy %}
		<span class="button small">
			<span class="icon icon-person-add">&nbsp;</span>
			Invite
		</span>
		{% endif %}
#}		
	</div></div></a>
</div>
