{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block extrahead %}
<style type="text/css">
	#wrapper {
		margin-left:auto;
		margin-right:auto;
		width:900px;
	}
</style>

<script src="{{ js('jquery-ui') }}" type="text/javascript"></script>
<script src="{{ js('fullcalendar') }}"></script>

<script>
	$(document).ready(function() {
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			editable: false,
			events: {{ events_json|tojson|safe }}
		});
	});
</script>
{% endblock %}


{% block content %}
<br>
<h2 style="text-align:center;"> My Dashboard </h2>
<div id="wrapper">
<div style="float: left; width: 600px;" id='calendar'>
	<a href="{{ url_for('calendar') }}"> View Calendar in bigger size. </a>
</div>

<div style="float: left;margin-top:20px;margin-left:90px;width:100px;">
	<ul class="thumbnails">
		<li class="span4" style="margin-top:20px;">
			<a href="{{ url_for('event_search') }}">
			<p style="float: left;"><img src="{{ img('search.jpg') }}" height:80px width:80px border="1px" alt="logga"/></p>
			<p style="margin-top:25px;font-size:25px"> Find Group </p>	
			</a>
		</li>
		<li class="span4" style="margin-top:20px;">
			<a href="{{ url_for('buddy_search') }}">
			<p style="float: left;"><img src="{{ img('user_search.png') }}" height:80px width:80px border="1px" alt="logga" /></p>
		    <p style="margin-top:25px;font-size:25px;"> Find Buddies </p>	
		    </a>
		</li>
		<li class="span4" style="margin-top:20px;">
			<a href="{{ view_url(user_record) }}">
		    <p style="float: left;"><img src="{{ img('profile.jpg') }}" height:80px width:80px border="1px" alt="logga" /></p>
		    <p style="margin-top:25px;font-size:25px;"> My Profile </p>	
		    </a>
		</li>
</ul>
</div>
</div>

{% endblock %}
