{% extends "layout.html" %}
{% from "lib.html" import flash_all %}

{% block title %}Home{% endblock %}

{% block extrahead %}

<script src="{{ js('jquery-ui') }}" type="text/javascript"></script>
<script src="{{ js('fullcalendar') }}"></script>
</script>

{% endblock %}


{% block content %}
{{ flash_all() }}
<br><br>
<div class="homepage">
<h2 style="color:black;"> <i>Welcome to BuddyUp!</i> </h2>
<table class="people">
{% for row in classmates|batch(5) %}
<tr>
	{% for user in row %}
		<td><a href="{{ profile(user) }}"><img src="{{ photo_large(user) }}" width="200" height="200" class="img-polaroid"></a></td>
	{% endfor %}
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
