<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> {% block title %}{% endblock %} - BuddyUp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="{{ js('jquery') }}"></script>
	<script src="{{ js('bootstrap') }}"></script>
	<link href="{{ css('bootstrap') }}" rel="stylesheet">
	<link href="{{ css('bootstrap-responsive') }}" rel="stylesheet">
	<link href="{{ css('bootstrap-fileupload') }}" rel="stylesheet">
	<link href="{{ css('style') }}" rel="stylesheet">
	<link href="{{ css('jquery.stickynotes') }}" rel="stylesheet">
	<link href="{{ css('fullcalendar') }}" rel="stylesheet">
	<link href="{{ css('fullcalendar.print') }}" rel="stylesheet" media="print">
	{% block extrahead %}{% endblock %}
</head>


<body>
	<header>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="{{ url_for('home') }}">
				<img id="topbar_logo" src="{{ img('BuddyUpLogo_300x88.png') }}"> </img>
			</a>
			{#
			<ul class="nav" style="margin-top:10px;">
					<li><a href="{{ profile(user_record) }}"> Profile </a></li>
					<li><a href="{{ url_for('invite_list') }}"> Invitation</a></li>
			<li><a href="{{ url_for('question_list') }}">Resources</a></li>
			</ul>
			#}

		<ul class="nav pull-right" style="margin-top:10px;">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
					<li><a tabindex="-1"  href="{{ url_for('profile_edit') }}"><i class="icon-edit me_icon"></i> Edit Your Profile </a></li>
					<li><a tabindex="-1"  href="{{ url_for('help') }}"><i class="icon-comment me_icon"></i> Help </a></li>
					<li><a tabindex="-1"  href="{{ logout_url }}"><i class="icon-off me_icon"></i>  Log out</a></li>
				</ul>
			</li>
	
			<ul class="nav pull-right" style="margin-top:10px;">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">
						Welcome, User <b class="caret"></b>
					</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
				<li>
					<a tabindex="-1"  href="{{ url_for('profile_edit') }}">
						<i class="icon-edit me_icon"></i>
						Edit Your Profile
					</a>
				</li>
				<li><a tabindex="-1"  href="{{ url_for('help') }}"><i class="icon-comment me_icon"></i> Help </a></li>
				<li><a tabindex="-1"  href="#logout"><i class="icon-off me_icon"></i>  Log out</a></li>
			</ul>
		</li>
	</ul>
	</div>
	</header>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
