<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> {% block title %}{% endblock %} - BuddyUp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="{{ js('jquery') }}"></script>
	<script src="{{ js('bootstrap') }}"></script>
	<link href="{{ css('bootstrap') }}" rel="stylesheet">
	<link href="{{ css('bootstrap-responsive') }}" rel="stylesheet">
	<link href="{{ css('bootstrap-fileupload') }}" rel="stylesheet">
	<link href="{{ css('jquery.stickynotes') }}" rel="stylesheet">
	<link href="{{ css('fullcalendar') }}" rel="stylesheet">
	<link href="{{ css('fullcalendar.print') }}" rel="stylesheet" media="print">
	<link href="{{ css('style') }}" rel="stylesheet">
	{% block extrahead %}{% endblock %}


<script>

function myFunction()
{
	alert("This function is under construction. Sorry about this inconvenience.");
}

$(function(){
	$('.dropdown-toggle').click(function(e) {
	  e.preventDefault();
	  setTimeout($.proxy(function() {
	    if ('ontouchstart' in document.documentElement) {
	      $(this).siblings('.dropdown-backdrop').off().remove();
	    }
	  }, this), 0);
	});
});
</script>

</head>

<body class="suggestion">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			<a class="brand" href="{{ url_for('home') }}">
				<img id="topbar_logo" src="{{ img('BuddyUpLogo_300x88.png') }}">
			</a>
			{# Don't show links if not logged in (like with 404 errors) #}
			{% if logged_in %}
			<ul class="nav" style="margin-top:-10px;">
				<li><a href="{{ url_for('list_classmates') }}" style="padding-top:22px;">
						<img id="buddies_img" src="{{ img('buddyup1.png')}}"></a>
					<h6><font color="white" size="1"> Classmates </font></h6>
				</li>
			</ul>
			{% endif %}
		</div>
		</div>
	</div>
<div class="container">
	{% block content %}
	{% endblock %}
</div>
</body>
</html>
