{% extends "green/global_layout.html" %}
{% block title %} My Events {% endblock %}
{% block pagestyle %}
<link href="/static/_assets/css/buddies.css" rel="stylesheet">
{% endblock %}
{% block content %}
<article id="top" class="filter">
    <div class="wrapper container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <h1>My Events</h1>
                <a href="" class="action button small primary">New Event</a>
            </div>

            <div class="col-md-12 col-md-offset-0">
                <ul class="hidden-xs filter">
                    <li><a href="" class="{{all_events}}">All</a></li>
                    <li><a href="" class="{{upcoming}}">Upcoming</a></li>
                    <li><a href="" class="{{past}}">Past</a></li>
                    <li><a href="" class="{{by_class}}">By Class</a></li>
                    <li><a href="" class="{{created_by_me}}">Created By Me</a></li>
                </ul>
                <div class="visible-xs-block dropdown">
                    <a data-toggle="dropdown" class="button dropdown" href="#">Everyone</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	                    <li><a href="" class="{{all_events}}">All</a></li>
	                    <li><a href="" class="{{upcoming}}">Upcoming</a></li>
	                    <li><a href="" class="{{past}}">Past</a></li>
	                    <li><a href="" class="{{by_class}}">By Class</a></li>
	                    <li><a href="" class="{{created_by_me}}">Created By Me</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</article>

<article id="main-content" class="container">

    <!-- <section id="" class="row">
        <div class="col-md-12 col-md-offset-0">
	        <h4>Upcoming</h4>
	        <ul class="tablelist-group">
	            <li class="tablelist-group-row">
	                <ul class="tablelist">
						{% for event in events %}
	                    <li class="main">
	                        <div class="title"><a href="./event-detail.html">Midterms Study Sesh</a></div>
	                        <div class="subtitle"><span class="icon icon-course"> Stat 101</span>&bull;<span class="icon icon-location"> Pioneer Square</span></div>
	                    </li>
						{% endfor %}
	                </ul>
	            </li>
	        </ul>
        </div>
    </section> -->


    <section id="notes" class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="group-heading">
                <h3><span class="icon icon-note">&nbsp;</span>All Events</h3>
            </div>
            <ul class="tablelist-group">
				{% for event in events %}
                    <li class="tablelist-group-row">
                        <ul class="tablelist">
                            <li class="date"><span class="date">{{event|date_short}}</span></li>
                            <li class="main">
                                <div class="title"><a href="{{url_for('course_event', course_id=event.course_id, event_id=event.id)}}">{{event.name}}</a></div>
                                <div class="subtitle"> <span class="time">{{event.start.strftime("%I%p").lstrip("0")}}-{{event.end.strftime("%I%p").lstrip("0")}}</span>&bull;<span class="icon icon-course"> {{event.course.name}}</span>&bull;<span class="icon icon-location"> {{event.location}}</span></div>
                            </li>
                            <li class="action"><a href="{{url_for('course_event', course_id=event.course_id, event_id=event.id)}}">Details</a></li>
                        </ul>
                    </li>
						{% endfor %}
                </ul>
            </div>
    </section>





















</article>
{% endblock %}
