{% extends "green/global_layout.html" %}

{% block head %}{{super()}}
<script src="https://cdn.auth0.com/w2/auth0-widget-5.2.min.js"></script>
<script type="text/javascript">

var widget = new Auth0Widget({
  domain:         'buddyup.auth0.com',
  clientID:       'fz6fSOkZ3SmuLIeylQlYE9X0ZVlKruSJ',
  callbackURL:    'http://{{request.host}}/callback'
});

</script>
<!-- Le styles -->
<link href="{{ css('bootstrap') }}" rel="stylesheet" type="text/css">
<link href="{{ css('bootstrap-responsive') }}" rel="stylesheet" type="text/css">
<style type="text/css">
	.logo_image {
		margin: 60px 0;
	}
	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
</style>
{% endblock %}
{% block body %}
<div class="container signup">
	<div class="logo_image">
		<center><img src='/static/_assets/images/buddyup_logo.png'/></center>
	</div>
	
	<div class="text-center">
		<button class="button primary" onclick="widget.signin({ scope: 'openid profile email' })">Sign in to BuddyUp</button>
	</div>
</div>
{% endblock %}