{% extends "admin/adminlayout.html" %}
  
{% block content %}
    <p>Users online/Recently login users</p>
    <div class="box">
        <div class="body">
            <table class="table table-bordered table-condensed table-hovered sortableTable">
                <thead>
                    <tr>
                        <th class="header">Username<i class="icon-sort"></i><i class="icon-sort-down"></i><i class="icon-sort-up"></i></th>
                        <th class="header">Last login time<i class="icon-sort"></i><i class="icon-sort-down"></i><i class="icon-sort-up"></i></th>
                        <th class="header">Number post on forum<i class="icon-sort"></i><i class="icon-sort-down"></i><i class="icon-sort-up"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>user1</td>
                        <td>time</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>user2</td>
                        <td>time</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>user3</td>
                        <td>time</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>user3</td>
                        <td>time</td>
                        <td>0</td>
                    </tr>             
                </tbody>
            </table>
        </div>
    </div>
    <p>Number of total visits: 0</p>
    <p>Number of unique visitors: 0</p>
    <p>Number of groups: 0</p>
    <p>Number of invites sent: 0</p>
    <p>Number of registered users: 0</p>
<p><h1>Put a calendar ?<h1></p>
                                

{% endblock %}
