{% extends "green/global_layout.html" %}
{% block title %} Notifications {% endblock %}
{% block pagestyle %}
<link href="/static/_assets/css/everything.css" rel="stylesheet">
{% endblock %}
{% block content %}
<article id="top" class="simple">
    <div class="wrapper container">
        <div class="row">
            <h1 class="col-md-6 col-md-offset-3">Notifications</h1>
        </div>
    </div>
</article>
<article id="main-content" class="container">
<script>
$(function(){
	$('li.action a.accept').click(function(click){

		var actionURL = click.target.href;
		var notificationURL = click.target.getAttribute('data-notification');

        if (actionURL.indexOf("events") != -1) {
            Intercom('trackEvent', 'attending-event');
        } else {
            if (actionURL.indexOf("classmates") != -1) {
                Intercom('trackEvent', 'confirmed-buddy');
            }
        }

		$.post(actionURL).complete(
			function(request){
				if( request.status == 200 || request.status == 404){
					$.post(notificationURL, {}, function(){
						$(click.target).replaceWith("Accepted");
					})
				}
			}
		);

		return false;
	})
});
</script>

    <section id="" class="row">
        <div class="col-md-6 col-md-offset-3">
				{% if notifications|list|count > 0 %}
            <div class="group-heading">
                <a href="{{url_for('clear_notifications')}}" class="clear_notifications" onclick="return confirm('Clear all of your notifications?');">Clear All</a>
                <h3>Today</h3>
            </div>
            <ul class="tablelist-group">
					{% for notification in notifications %}
	                <li class="tablelist-group-row">
	                    <ul class="tablelist">
	                        <li class="icon"><a href="{{profile(notification.sender)}}"><div class="block circle" style="background-image:url('{{photo_thumbnail(notification.sender)}}')">&nbsp;</div></a></li>
	                        <li class="main">
	                            <div class="title">{{notification.payload|safe}}</div>
	                            <div class="subtitle">{{date_long(notification.time)}}</div>
	                        </li>
							{% if notification.action_link %}
	                        <li class="action"><a href="{{notification.action_link}}" class="accept" data-notification="{{url_for('clear_notification', id=notification.id)}}">{{notification.action_text}}</a></li>
							{% endif %}
	                    </ul>
	                </li>
					{% endfor %}
            </ul>
				{% else %}
You have no notifications.
				{% endif %}
        </div>
    </section>



</article>
{% endblock %}